In [1]:
import pandas as pd

In [3]:
train_csv = 'assets/train.csv'
train = pd.read_csv(train_csv)

In [4]:
train.head()

,Date,Address,Species,Block,Street,Trap,AddressNumberAndStreet,Latitude,Longitude,AddressAccuracy,NumMosquitos,WnvPresent
0,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX PIPIENS/RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
1,2007-05-29,"4100 North Oak Park Avenue, Chicago, IL 60634,...",CULEX RESTUANS,41,N OAK PARK AVE,T002,"4100 N OAK PARK AVE, Chicago, IL",41.954690,-87.800991,9,1,0
2,2007-05-29,"6200 North Mandell Avenue, Chicago, IL 60646, USA",CULEX RESTUANS,62,N MANDELL AVE,T007,"6200 N MANDELL AVE, Chicago, IL",41.994991,-87.769279,9,1,0
3,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX PIPIENS/RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,1,0
4,2007-05-29,"7900 West Foster Avenue, Chicago, IL 60656, USA",CULEX RESTUANS,79,W FOSTER AVE,T015,"7900 W FOSTER AVE, Chicago, IL",41.974089,-87.824812,8,4,0

In [143]:
from datetime import timedelta #importing timedelta
observed=train.groupby(['Trap','Date']).agg({'Date':'count'}) # making the df by trap and date
observed.rename(columns={'Date':'Records'}, inplace=True) # renaming column
observed.reset_index(level=1, inplace=True) # making the date index a column
observed.Date=pd.to_datetime(observed.Date,infer_datetime_format=True) # converting to time so I can do timedelta

# starting the loop through each trap id
for trap in observed.index.unique():
    # making an empty data frame to store each trap since I'm making a new df for each trap
    df2 = pd.DataFrame(columns=['Date', 'Records', 'More'])
    
    # storing each trap in a data frame
    df = observed.loc[[trap]]
    
    # adding the more column
    df['More']=''
    
    #starting a loop from the end of the dataframe to the start
    for i in reversed(range(len(df))):
        #making sure we aren't looking at the first row (since we can't index from there)
        if i!=0:
            # making sure we loop through every preceding row
            for j in range(1,10):
                # and making sure we don't index negatively out of the index
                if i>j:
                    # comparing the j previous date to the current date to see if it's within the last 7 days
                    if df.iloc[i,0]-df.iloc[i-j,0]<=timedelta(days=7):
                        # if it is and the number of rows for that date is greater than one, make More 1
                        if df.iloc[i-j,1]>1:
                            df.iloc[i,2]=1
                    else:
                        # since we found a date outside of the last 7 days, we can move to the next row
                        break
    #appending what we found to the end of the df
    df2=df2.append(df)
    print df

/Users/irarickman/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

           Date  Records More
Trap
T001 2007-06-26        1
T001 2007-07-11        1
T001 2007-07-18        1
T001 2007-08-01        3
T001 2007-08-07        2    1
T001 2007-08-15        2
T001 2007-08-21        1    1
T001 2007-08-24        1
T001 2007-09-12        1
T001 2007-10-04        2
           Date  Records More
Trap
T002 2007-05-29        2
T002 2007-06-05        3
T002 2007-06-26        3
T002 2007-06-29        1    1
T002 2007-07-02        2    1
T002 2007-07-11        3
T002 2007-07-18        3    1
T002 2007-07-27        3
T002 2007-08-01        6    1
T002 2007-08-07        3    1
T002 2007-08-15        4
T002 2007-08-21        3    1
T002 2007-08-24        2    1
T002 2007-09-04        2
T002 2007-09-12        2
T002 2007-09-18        2    1
T002 2007-09-24        2    1
T002 2007-10-04        3
T002 2009-05-28        1
T002 2009-06-02        1
T002 2009-06-05        2
T002 2009-06-12        3    1
T002 2009-06-19        2    1
T002 2009-06-26        5    1
T002 2009-07-06        3
T002 2009-07-10        5    1
T002 2009-07-17        4    1
T002 2009-07-24        7    1
T002 2009-07-31        3    1
T002 2009-08-07        2    1
...         ...      ...  ...
T002 2011-07-11        3
T002 2011-07-15        2    1
T002 2011-07-25        2
T002 2011-07-29        3    1
T002 2011-08-05        2    1
T002 2011-08-12        1    1
T002 2011-08-19        1
T002 2011-08-26        2
T002 2011-09-01        2    1
T002 2011-09-12        3
T002 2011-09-16        1    1
T002 2011-09-23        2
T002 2011-09-30        1    1
T002 2013-06-07        1
T002 2013-06-14        8
T002 2013-06-21        1    1
T002 2013-06-27        2
T002 2013-07-08        6
T002 2013-07-12       12    1
T002 2013-07-19        1    1
T002 2013-07-25        3
T002 2013-08-01        3    1
T002 2013-08-08        6    1
T002 2013-08-15        3    1
T002 2013-08-22        2    1
T002 2013-08-29        3    1
T002 2013-09-06        3
T002 2013-09-12        2    1
T002 2013-09-19        2    1
T002 2013-09-26        2    1

[67 rows x 3 columns]
           Date  Records More
Trap
T003 2007-06-26        1
T003 2007-07-02        1
T003 2007-07-11        1
T003 2007-07-18        2
T003 2007-07-27        2
T003 2007-08-01        5    1
T003 2007-08-07        2    1
T003 2007-08-15        4
T003 2007-08-21        2    1
T003 2007-08-24        3    1
T003 2007-09-04        1
T003 2007-09-12        1
T003 2007-09-18        1
T003 2007-09-24        2
T003 2007-10-04        2
T003 2009-05-28        1
T003 2009-06-02        1
T003 2009-06-05        1
T003 2009-06-12        2
T003 2009-06-19        1    1
T003 2009-06-26        2
T003 2009-07-06        1
T003 2009-07-10        3
T003 2009-07-17        2    1
T003 2009-07-24        2    1
T003 2009-08-07        2
T003 2009-08-13        2    1
T003 2009-09-14        1
T003 2009-09-17        3
T003 2009-09-25        2
...         ...      ...  ...
T003 2011-06-30        2    1
T003 2011-07-11        3
T003 2011-07-15        4    1
T003 2011-07-25        4
T003 2011-07-29        5    1
T003 2011-08-05        2    1
T003 2011-08-12        2    1
T003 2011-08-19        2    1
T003 2011-08-26        1    1
T003 2011-09-01        3
T003 2011-09-12        3
T003 2011-09-16        1    1
T003 2011-09-23        1
T003 2011-09-30        1
T003 2013-06-14        1
T003 2013-06-21        1
T003 2013-06-27        2
T003 2013-07-08        2
T003 2013-07-12        3    1
T003 2013-07-19        1    1
T003 2013-07-25        1
T003 2013-08-01        3
T003 2013-08-08        1    1
T003 2013-08-15        3
T003 2013-08-22        1    1
T003 2013-08-29        1
T003 2013-09-06        2
T003 2013-09-12        1    1
T003 2013-09-19        2
T003 2013-09-26        2    1

[64 rows x 3 columns]
           Date  Records More
Trap
T004 2007-07-11        1
T004 2007-07-27        1
T004 2007-08-15        1
T004 2007-08-21        1
T004 2007-09-04        1
T004 2007-09-12        2
T004 2007-09-18        3    1
T004 2007-09-24        1    1
T004 2007-10-04        1
           Date  Records More
Trap
T005 2007-07-02        1
T005 2007-08-01        2
T005 2007-08-15        2
T005 2007-08-21        2    1
T005 2007-08-24        2    1
T005 2007-09-04        1
T005 2007-09-18        2
T005 2007-09-24        1    1
T005 2007-10-04        1
           Date  Records More
Trap
T006 2007-06-26        2
T006 2007-06-29        1
T006 2007-07-02        1
T006 2007-07-11        2
T006 2007-07-18        1    1
T006 2007-07-27        2
T006 2007-08-01        2    1
T006 2007-08-07        2    1
T006 2007-08-15        2
T006 2007-08-21        2    1
T006 2007-08-24        2    1
T006 2007-09-04        1
T006 2007-09-18        1
T006 2007-09-24        1
T006 2007-10-04        2
           Date  Records More
Trap
T007 2007-05-29        1
T007 2007-06-26        2
T007 2007-07-02        2    1
T007 2007-07-11        1
T007 2007-07-18        2
T007 2007-07-27        1
T007 2007-08-01        1
T007 2007-08-07        2
T007 2007-08-15        1
T007 2007-08-24        1
T007 2007-09-04        2
T007 2007-09-12        2
T007 2007-09-18        2    1
T007 2007-09-24        1    1
T007 2007-10-04        2
           Date  Records More
Trap
T008 2007-06-26        1
T008 2007-07-02        2
T008 2007-07-11        3
T008 2007-07-18        3    1
T008 2007-07-27        2
T008 2007-08-01        7    1
T008 2007-08-07        5    1
T008 2007-08-15        2
T008 2007-08-21        2    1
T008 2007-08-24        2    1
T008 2007-09-04        2
T008 2007-09-12        2
T008 2007-09-18        2    1
T008 2007-09-24        1    1
T008 2007-10-04        2
T008 2009-05-28        2
T008 2009-06-02        2    1
T008 2009-06-12        5
T008 2009-06-19        3    1
T008 2009-06-26        4    1
T008 2009-07-06        1
T008 2009-07-10        2
T008 2009-07-17        4    1
T008 2009-07-24        2    1
T008 2009-07-31        3    1
T008 2009-08-07        1    1
T008 2009-09-17        1
T008 2009-09-25        1
T008 2009-10-01        1
T008 2011-06-17        2
T008 2011-06-24        5    1
T008 2011-06-30        1    1
T008 2011-07-11        2
T008 2011-07-15        3    1
T008 2011-07-25        2
T008 2011-07-29        3    1
T008 2011-08-05        2    1
T008 2011-08-12        2    1
T008 2011-08-26        1
T008 2011-09-01        2
T008 2011-09-12        1
T008 2011-09-16        1
T008 2011-09-23        1
T008 2013-06-07        1
T008 2013-06-14        1
T008 2013-06-21        2
T008 2013-06-27        1    1
T008 2013-07-08        1
T008 2013-07-12        2
T008 2013-07-19        6    1
T008 2013-07-25        3    1
T008 2013-08-01        5    1
T008 2013-08-08        5    1
T008 2013-08-15        3    1
T008 2013-08-22        4    1
T008 2013-08-29        2    1
T008 2013-09-06        2
T008 2013-09-12        1    1
T008 2013-09-19        1
T008 2013-09-26        1
           Date  Records More
Trap
T009 2007-06-05        1
T009 2007-07-02        1
T009 2007-07-11        2
T009 2007-07-27        3
T009 2007-08-01        5    1
T009 2007-08-07        3    1
T009 2007-08-15        2
T009 2007-08-21        2    1
T009 2007-08-24        3    1
T009 2007-09-04        4
T009 2007-09-12        1
T009 2007-09-18        2
T009 2007-09-24        2    1
T009 2009-05-28        1
T009 2009-06-02        2
T009 2009-06-12        1
T009 2009-06-19        1
T009 2009-06-26        3
T009 2009-07-06        1
T009 2009-07-10        1
T009 2009-07-17        4
T009 2009-07-24        2    1
T009 2009-08-07        2
T009 2009-08-25        3
T009 2009-08-27        1    1
T009 2009-09-14        1
T009 2009-09-17        1
T009 2009-09-25        2
T009 2009-10-01        1    1
T009 2011-06-17        2
T009 2011-06-24        1    1
T009 2011-06-30        1
T009 2011-07-11        2
T009 2011-07-15        2    1
T009 2011-07-25        1
T009 2011-08-05        2
T009 2011-09-23        1
T009 2013-06-07        2
T009 2013-06-14        2    1
T009 2013-06-21        1    1
T009 2013-06-27        2
T009 2013-07-08        3
T009 2013-07-12        5    1
T009 2013-07-19        1    1
T009 2013-07-25        3
T009 2013-08-01        2    1
T009 2013-08-08        3    1
T009 2013-08-15        3    1
T009 2013-08-22        3    1
T009 2013-08-29        5    1
T009 2013-09-06        2
T009 2013-09-12        2    1
T009 2013-09-19        1    1
T009 2013-09-26        1

           Date  Records More
Trap
T011 2007-06-05        1
T011 2007-06-26        2
T011 2007-07-02        1    1
T011 2007-07-11        4
T011 2007-07-18        2    1
T011 2007-07-27        2
T011 2007-08-01        5    1
T011 2007-08-07        3    1
T011 2007-08-15        2
T011 2007-08-21        2    1
T011 2007-08-24        2    1
T011 2007-09-04        2
T011 2007-09-12        2
T011 2007-09-18        2    1
T011 2007-09-24        1    1
T011 2007-10-04        2
T011 2009-05-28        1
T011 2009-06-02        1
T011 2009-06-05        2
T011 2009-06-12        2    1
T011 2009-06-19        2    1
T011 2009-06-26        2    1
T011 2009-07-06        2
T011 2009-07-10        2    1
T011 2009-07-17        2    1
T011 2009-07-24        3    1
T011 2009-07-31        3    1
T011 2009-08-07        2    1
T011 2009-08-13        1    1
T011 2009-08-25        4
...         ...      ...  ...
T011 2011-06-24        3
T011 2011-06-30        2    1
T011 2011-07-11        3
T011 2011-07-15        4    1
T011 2011-07-25        3
T011 2011-07-29        3    1
T011 2011-08-05        2    1
T011 2011-08-12        1    1
T011 2011-08-19        1
T011 2011-08-26        1
T011 2011-09-01        2
T011 2011-09-12        1
T011 2011-09-16        2
T011 2011-09-23        2    1
T011 2013-06-14        1
T011 2013-06-21        2
T011 2013-06-27        2    1
T011 2013-07-08        2
T011 2013-07-12        1    1
T011 2013-07-19        3
T011 2013-07-25        2    1
T011 2013-08-01        1    1
T011 2013-08-08        1
T011 2013-08-15        3
T011 2013-08-22        1    1
T011 2013-08-29        2
T011 2013-09-06        3
T011 2013-09-12        2    1
T011 2013-09-19        2    1
T011 2013-09-26        2    1

[66 rows x 3 columns]
           Date  Records More
Trap
T012 2007-06-26        1
T012 2007-06-29        1
T012 2007-07-02        1
T012 2007-07-18        1
T012 2007-07-27        2
T012 2007-08-01        6    1
T012 2007-08-07        2    1
T012 2007-08-15        2
T012 2007-08-21        1    1
T012 2007-08-24        2
T012 2007-09-04        2
T012 2007-09-12        1
T012 2007-09-18        2
T012 2007-09-24        3    1
T012 2007-10-04        2
T012 2009-05-28        2
T012 2009-06-02        1    1
T012 2009-06-05        2
T012 2009-06-12        3    1
T012 2009-06-19        2    1
T012 2009-06-26        2    1
T012 2009-07-06        2
T012 2009-07-10        1    1
T012 2009-07-17        2
T012 2009-08-07        2
T012 2009-08-13        1    1
T012 2009-09-03        1
T012 2009-09-14        1
T012 2009-09-17        3
T012 2009-09-25        2
T012 2011-06-30        1
T012 2011-07-15        1
T012 2011-07-25        1
T012 2011-07-29        2
T012 2011-08-05        1    1
T012 2011-08-19        1
T012 2011-08-26        1
T012 2011-09-01        2
T012 2011-09-12        1
T012 2011-09-16        1
T012 2013-06-07        2
T012 2013-06-14        2    1
T012 2013-06-21        2    1
T012 2013-06-27        2    1
T012 2013-07-08        2
T012 2013-07-12        3    1
T012 2013-07-19        3    1
T012 2013-07-25        3    1
T012 2013-08-01        4    1
T012 2013-08-08        2    1
T012 2013-08-15        3    1
T012 2013-08-22        2    1
T012 2013-08-29        2    1
T012 2013-09-06        1
T012 2013-09-12        2
T012 2013-09-19        1    1
T012 2013-09-26        1
           Date  Records More
Trap
T013 2007-06-29        1
T013 2007-07-02        2
T013 2007-07-11        2
T013 2007-07-18        1    1
T013 2007-07-27        1
T013 2007-08-01        1
T013 2007-08-09        3
T013 2007-08-15        4    1
T013 2007-08-21        2    1
T013 2007-08-24        2    1
T013 2007-09-04        2
T013 2007-09-12        2
T013 2007-09-18        2    1
T013 2007-09-24        2    1
T013 2007-10-04        3
T013 2009-08-07        2
T013 2009-08-13        1    1
T013 2009-08-25        1
T013 2009-08-27        1
T013 2009-09-14        2
T013 2009-09-17        3    1
T013 2009-09-25        2
T013 2009-10-01        3    1
T013 2011-06-10        2
T013 2011-06-17        2    1
T013 2011-06-24        1    1
T013 2011-07-15        1
T013 2011-07-25        1
T013 2011-07-29        1
T013 2011-08-05        2
T013 2011-08-12        1    1
T013 2011-08-19        1
T013 2011-08-26        1
T013 2011-09-01        2
T013 2011-09-12        1
T013 2011-09-16        3
T013 2011-09-23        4    1
T013 2011-09-30        3    1
T013 2013-06-07        1
T013 2013-06-14        2
T013 2013-06-21        2    1
T013 2013-06-27        2    1
T013 2013-07-08        1
T013 2013-07-12        3
T013 2013-07-19        2    1
T013 2013-07-25        1    1
T013 2013-08-01        3
T013 2013-08-08        4    1
T013 2013-08-15        1    1
T013 2013-08-22        2
T013 2013-08-29        4    1
T013 2013-09-06        1
T013 2013-09-12        1
T013 2013-09-19        2
T013 2013-09-26        1    1
           Date  Records More
Trap
T014 2007-06-29        1
T014 2007-07-02        2
T014 2007-07-11        2
T014 2007-07-18        1    1
T014 2007-07-19        1
T014 2007-08-01        5
T014 2007-08-07        2    1
T014 2007-08-15        2
T014 2007-08-21        2    1
T014 2007-08-24        3    1
T014 2007-09-12        2
T014 2007-09-18        3    1
T014 2007-09-24        2    1
T014 2007-10-04        2
           Date  Records More
Trap
T015 2007-05-29        2
T015 2007-06-05        2
T015 2007-06-26        1
T015 2007-06-29        2
T015 2007-07-02        1    1
T015 2007-07-11        3
T015 2007-07-18        2    1
T015 2007-07-27        3
T015 2007-08-01        4    1
T015 2007-08-07        3    1
T015 2007-08-15        3
T015 2007-08-21        2    1
T015 2007-08-24        1    1
T015 2007-09-04        1
T015 2007-09-12        1
T015 2007-09-18        1
T015 2007-09-24        1
T015 2007-10-04        2
           Date  Records More
Trap
T016 2007-06-05        1
T016 2007-06-26        2
T016 2007-06-29        1    1
T016 2007-07-02        1    1
T016 2007-07-11        5
T016 2007-07-18        3    1
T016 2007-07-27        1
T016 2007-08-01        6
T016 2007-08-07        2    1
T016 2007-08-15        5
T016 2007-08-21        2    1
T016 2007-08-24        2    1
T016 2007-09-04        1
T016 2007-09-18        2
T016 2007-09-24        2    1
T016 2007-10-04        3
T016 2009-06-02        1
T016 2009-06-12        3
T016 2009-06-19        2    1
T016 2009-06-26        2    1
T016 2009-07-06        2
T016 2009-07-10        2    1
T016 2009-07-17        2    1
T016 2009-07-24        3    1
T016 2009-07-31        2    1
T016 2009-08-07        1    1
T016 2009-08-25        1
T016 2009-08-27        1
T016 2009-09-17        3
T016 2009-09-25        2
           Date  Records More
Trap
T017 2007-07-02        1
T017 2007-07-18        1
T017 2007-08-01        3
T017 2007-08-15        2
T017 2007-08-21        2    1
T017 2007-09-04        1
T017 2007-09-18        2
T017 2007-09-24        1    1
T017 2007-10-04        1
T017 2009-05-28        1
T017 2009-06-02        2
T017 2009-06-12        1
T017 2009-06-19        2
T017 2009-06-26        2    1
T017 2009-07-06        3
T017 2009-07-10        1    1
T017 2009-07-24        2
T017 2009-07-31        2    1
T017 2009-08-07        1    1
T017 2009-08-13        1
T017 2009-08-27        1
T017 2009-09-14        1
T017 2009-09-17        2
T017 2009-09-25        1
T017 2011-06-10        1
T017 2011-06-17        1
T017 2011-06-24        1
T017 2011-07-15        2
T017 2011-07-25        1
T017 2011-07-29        1
T017 2011-08-12        1
T017 2011-08-19        1
T017 2011-08-26        1
T017 2011-09-16        2
T017 2011-09-23        2    1
T017 2011-09-30        1    1
T017 2013-06-14        1
T017 2013-06-21        1
T017 2013-06-27        1
T017 2013-07-08        1
T017 2013-07-12        2
T017 2013-07-19        2    1
T017 2013-07-25        2    1
T017 2013-08-01        2    1
T017 2013-08-08        1    1
T017 2013-08-15        2
T017 2013-08-22        2    1
T017 2013-08-29        1    1
T017 2013-09-06        2
T017 2013-09-12        3    1
T017 2013-09-19        2    1
T017 2013-09-26        1    1

           Date  Records More
Trap
T018 2007-06-29        1
T018 2007-07-02        1
T018 2007-07-27        1
T018 2007-08-01        1
T018 2007-08-07        1
T018 2007-08-15        2
T018 2007-08-21        2    1
T018 2007-08-24        1    1
T018 2007-09-04        2
T018 2007-09-12        1
T018 2007-09-18        2
T018 2009-06-02        2
T018 2009-06-05        1    1
T018 2009-06-12        2
T018 2009-06-19        1    1
T018 2009-06-26        1
T018 2009-07-10        2
T018 2009-07-17        1    1
T018 2009-10-01        2
T018 2011-06-10        3
T018 2011-07-11        1
T018 2011-07-15        1
T018 2011-07-25        2
T018 2011-07-29        1    1
T018 2011-08-12        1
T018 2011-08-26        2
T018 2011-09-12        2
T018 2011-09-30        1
T018 2013-06-07        2
T018 2013-06-14        2    1
T018 2013-06-21        2    1
T018 2013-06-27        2    1
T018 2013-07-08        1
T018 2013-07-12        2
T018 2013-07-19        1    1
T018 2013-07-25        2
T018 2013-08-08        1
T018 2013-08-15        2
T018 2013-08-22        1    1
T018 2013-08-29        1
T018 2013-09-06        1
T018 2013-09-12        1
T018 2013-09-19        1
           Date  Records More
Trap
T019 2007-06-05        1
T019 2007-06-26        1
T019 2007-07-02        1
T019 2007-07-11        1
T019 2007-07-18        1
T019 2007-08-01        4
T019 2007-08-07        1    1
T019 2007-08-15        2
T019 2007-08-21        2    1
T019 2007-08-24        2    1
T019 2007-09-04        1
T019 2007-09-12        1
T019 2007-09-18        2
T019 2007-09-24        1    1
T019 2007-10-04        2
           Date  Records More
Trap
T025 2007-06-05        1
T025 2007-06-26        1
T025 2007-07-11        2
T025 2007-07-18        2    1
T025 2007-07-27        1
T025 2007-08-01        5
T025 2007-08-07        2    1
T025 2007-08-15        2
T025 2007-08-21        2    1
T025 2007-08-24        2    1
T025 2007-09-04        2
T025 2007-09-18        1
T025 2007-09-24        2
T025 2007-10-04        2
           Date  Records More
Trap
T027 2007-08-01        3
T027 2007-08-07        2
T027 2007-08-15        2
T027 2007-08-21        2    1
T027 2007-08-24        1    1
T027 2007-09-04        1
T027 2007-09-12        1
T027 2007-09-18        2
T027 2007-09-24        3    1
T027 2007-10-09        1
T027 2011-06-10        3
T027 2011-06-17        3    1
T027 2011-06-24        1    1
T027 2011-06-30        3
T027 2011-07-11        3
T027 2011-07-15        4    1
T027 2011-07-25        3
T027 2011-07-29        4    1
T027 2011-08-05        1    1
T027 2011-08-12        2
T027 2011-08-19        4    1
T027 2011-08-26        3    1
T027 2011-09-01        3    1
T027 2011-09-12        2
T027 2011-09-16        2    1
T027 2011-09-23        2    1
T027 2011-09-30        1    1
T027 2013-06-07        1
T027 2013-06-14        2
T027 2013-06-21        2    1
T027 2013-06-27        1    1
T027 2013-07-08        1
T027 2013-07-12        2
T027 2013-07-19        3    1
T027 2013-07-25        2    1
T027 2013-08-01        2    1
T027 2013-08-08        2    1
T027 2013-08-15        2    1
T027 2013-08-22        2    1
T027 2013-08-29        2    1
T027 2013-09-06        2
T027 2013-09-12        2    1
T027 2013-09-19        2    1
T027 2013-09-26        1    1
           Date  Records More
Trap
T028 2007-06-05        1
T028 2007-06-26        2
T028 2007-06-29        2    1
T028 2007-07-02        3    1
T028 2007-07-11        2
T028 2007-07-18        3    1
T028 2007-07-27        2
T028 2007-08-01        4    1
T028 2007-08-07        2    1
T028 2007-08-15        2
T028 2007-08-21        2    1
T028 2007-08-24        1    1
T028 2007-09-04        2
T028 2007-09-18        3
T028 2007-09-24        3    1
T028 2007-10-04        2
T028 2009-05-28        1
T028 2009-06-02        2
T028 2009-06-05        2    1
T028 2009-06-12        3    1
T028 2009-06-19        2    1
T028 2009-06-26        2    1
T028 2009-07-06        2
T028 2009-07-10        3    1
T028 2009-07-17        3    1
T028 2009-07-24        3    1
T028 2009-07-31        2    1
T028 2009-08-07        2    1
T028 2009-08-13        1    1
T028 2009-08-25        2
...         ...      ...  ...
T028 2009-09-25        1
T028 2011-06-10        1
T028 2011-06-17        1
T028 2011-06-24        2
T028 2011-06-30        1    1
T028 2011-07-11        1
T028 2011-07-15        1
T028 2011-07-25        1
T028 2011-08-05        1
T028 2011-08-19        1
T028 2011-08-26        1
T028 2011-09-12        1
T028 2011-09-16        2
T028 2011-09-23        1    1
T028 2011-09-30        1
T028 2013-06-07        1
T028 2013-06-14        2
T028 2013-06-21        1    1
T028 2013-06-27        2
T028 2013-07-08        1
T028 2013-07-12        2
T028 2013-07-19        2    1
T028 2013-07-25        2    1
T028 2013-08-01        3    1
T028 2013-08-08        2    1
T028 2013-08-15        4    1
T028 2013-08-22        2    1
T028 2013-08-29        3    1
T028 2013-09-12        3
T028 2013-09-19        1    1

[62 rows x 3 columns]
           Date  Records More
Trap
T030 2007-06-29        2
T030 2007-07-02        2
T030 2007-07-11        3
T030 2007-07-18        4    1
T030 2007-07-27        2
T030 2007-08-01        4    1
T030 2007-08-07        1    1
T030 2007-08-15        2
T030 2007-08-21        3    1
T030 2007-08-24        2    1
T030 2007-09-04        3
T030 2007-09-12        1
T030 2007-09-18        1
T030 2007-09-24        2
T030 2007-10-04        2
T030 2009-05-28        1
T030 2009-06-02        2
T030 2009-06-05        2    1
T030 2009-06-12        3    1
T030 2009-06-19        1    1
T030 2009-06-26        1
T030 2009-07-06        1
T030 2009-07-10        2
T030 2009-07-17        2    1
T030 2009-07-24        1    1
T030 2009-07-31        1
T030 2009-08-07        1
T030 2009-09-14        1
T030 2009-09-17        1
T030 2009-09-25        1
T030 2011-07-11        2
T030 2011-07-15        2    1
T030 2011-07-25        3
T030 2011-07-29        1    1
T030 2011-08-05        2
T030 2011-08-12        2    1
T030 2011-08-19        3    1
T030 2011-08-26        1    1
T030 2011-09-01        2
T030 2011-09-12        3
T030 2011-09-16        4    1
T030 2011-09-30        1
T030 2013-06-07        1
T030 2013-06-14        1
T030 2013-06-21        2
T030 2013-06-27        1    1
T030 2013-07-08        4
T030 2013-07-12        2    1
T030 2013-07-19       11    1
T030 2013-07-25        2    1
T030 2013-08-01        2    1
T030 2013-08-08        3    1
T030 2013-08-15        5    1
T030 2013-08-22        3    1
T030 2013-08-29        1    1
T030 2013-09-06        2
T030 2013-09-12        1    1
T030 2013-09-19        3
T030 2013-09-26        1    1
           Date  Records More
Trap
T031 2007-06-05        1
T031 2007-06-29        1
T031 2007-07-11        1
T031 2007-07-18        2
T031 2007-07-27        1
T031 2007-08-01        3
T031 2007-08-07        2    1
T031 2007-08-15        2
T031 2007-08-21        2    1
T031 2007-08-24        2    1
T031 2007-09-04        2
T031 2007-09-12        2
T031 2007-09-18        2    1
T031 2007-09-24        2    1
T031 2007-10-04        3
T031 2009-05-28        2
T031 2009-06-02        3    1
T031 2009-06-05        3    1
T031 2009-06-12        3    1
T031 2009-06-19        3    1
T031 2009-06-26        2    1
T031 2009-07-06        2
T031 2009-07-10        4    1
T031 2009-07-17        4    1
T031 2009-07-24        4    1
T031 2009-07-31        3    1
T031 2009-08-07        3    1
T031 2009-08-13        2    1
T031 2009-08-25        1
T031 2009-08-27        2
...         ...      ...  ...
T031 2011-07-11        3
T031 2011-07-15        2    1
T031 2011-07-25        4
T031 2011-07-29        5    1
T031 2011-08-05        3    1
T031 2011-08-12        3    1
T031 2011-08-19        3    1
T031 2011-08-26        2    1
T031 2011-09-01        2    1
T031 2011-09-12        2
T031 2011-09-16        2    1
T031 2011-09-23        2    1
T031 2011-09-30        3    1
T031 2013-06-07        1
T031 2013-06-14        1
T031 2013-06-21        1
T031 2013-06-27        1
T031 2013-07-08        1
T031 2013-07-12        2
T031 2013-07-19        2    1
T031 2013-07-25        2    1
T031 2013-08-01        2    1
T031 2013-08-08        2    1
T031 2013-08-15        2    1
T031 2013-08-22        2    1
T031 2013-08-29        2    1
T031 2013-09-06        2
T031 2013-09-12        1    1
T031 2013-09-19        1
T031 2013-09-26        2

[66 rows x 3 columns]

           Date  Records More
Trap
T033 2007-06-05        1
T033 2007-06-26        2
T033 2007-07-11        1
T033 2007-07-18        1
T033 2007-08-01        4
T033 2007-08-07        2    1
T033 2007-08-15        3
T033 2007-08-21        2    1
T033 2007-08-24        2    1
T033 2007-09-04        2
T033 2007-09-12        1
T033 2007-09-18        2
T033 2007-09-24        2    1
T033 2007-10-04        2
T033 2009-06-02        1
T033 2009-06-05        2
T033 2009-06-12        1    1
T033 2009-06-19        1
T033 2009-06-26        1
T033 2009-07-10        2
T033 2009-07-24        2
T033 2009-07-31        1    1
T033 2009-08-07        3
T033 2009-08-25        1
T033 2009-08-27        1
T033 2009-09-14        2
T033 2009-09-17        2    1
T033 2009-09-25        2
T033 2011-06-24        2
T033 2011-06-30        1    1
T033 2011-07-11        2
T033 2011-07-15        2    1
T033 2011-07-25        2
T033 2011-08-05        1
T033 2011-08-12        1
T033 2011-08-19        1
T033 2011-08-26        1
T033 2011-09-12        2
T033 2011-09-16        2    1
T033 2011-09-23        1    1
T033 2013-06-07        1
T033 2013-06-21        1
T033 2013-06-27        1
T033 2013-07-08        1
T033 2013-07-12        1
T033 2013-07-19        2
T033 2013-07-25        2    1
T033 2013-08-01        2    1
T033 2013-08-08        2    1
T033 2013-08-15        3    1
T033 2013-08-22        4    1
T033 2013-08-29        1    1
T033 2013-09-06        3
T033 2013-09-12        2    1
T033 2013-09-19        3    1
T033 2013-09-26        1    1
           Date  Records More
Trap
T034 2007-06-26        1
T034 2007-08-01        3
T034 2007-08-07        1    1
T034 2007-08-15        3
T034 2007-08-21        2    1
T034 2007-08-24        2    1
T034 2007-09-04        1
T034 2007-09-12        1
T034 2007-09-24        1
T034 2007-10-04        2
           Date  Records More
Trap
T035 2007-07-11        1
T035 2007-07-18        1
T035 2007-07-19        1
T035 2007-07-27        2
T035 2007-08-01        2    1
T035 2007-08-07        2    1
T035 2007-08-15        3
T035 2007-08-21        3    1
T035 2007-08-24        2    1
T035 2007-09-12        2
T035 2007-09-18        3    1
T035 2007-09-24        3    1
T035 2007-10-04        2
T035 2011-06-17        2
T035 2011-06-24        1    1
T035 2011-07-11        1
T035 2011-07-15        1
T035 2011-07-25        1
T035 2011-07-29        1
T035 2011-08-05        2
T035 2011-08-19        3
T035 2011-09-12        2
T035 2011-09-16        1    1
T035 2011-09-23        2
T035 2011-09-30        1    1
T035 2013-06-07        1
T035 2013-06-14        2
T035 2013-06-21        1    1
T035 2013-06-28        2
T035 2013-07-08        2
T035 2013-07-12        2    1
T035 2013-07-19        1    1
T035 2013-07-25        1
T035 2013-08-01        2
T035 2013-08-08        1    1
T035 2013-08-15        1
T035 2013-08-22        2
T035 2013-08-29        2    1
T035 2013-09-06        1
T035 2013-09-12        3
T035 2013-09-19        2    1
T035 2013-09-26        1    1
           Date  Records More
Trap
T036 2007-07-11        1
T036 2007-07-18        5
T036 2007-08-01        3
T036 2007-08-07        1    1
T036 2007-08-15        3
T036 2007-08-21        3    1
T036 2007-08-24        2    1
T036 2007-09-04        1
T036 2007-09-12        1
T036 2007-09-24        2
T036 2007-10-04        2
           Date  Records More
Trap
T037 2007-06-26        1
T037 2007-07-02        2
T037 2007-07-11        1
T037 2007-07-18        2
T037 2007-07-27        2
T037 2007-08-01        4    1
T037 2007-08-07        2    1
T037 2007-08-15        2
T037 2007-08-21        2    1
T037 2007-08-24        3    1
T037 2007-09-04        2
T037 2007-09-12        2
T037 2007-09-18        1    1
T037 2007-09-24        1
T037 2007-10-04        2
           Date  Records More
Trap
T039 2007-07-11        1
T039 2007-07-18        1
T039 2007-07-27        1
T039 2007-08-01        1
T039 2007-08-07        2
T039 2007-08-15        3
T039 2007-08-21        2    1
T039 2007-08-24        2    1
T039 2007-09-04        2
T039 2007-09-12        2
T039 2007-09-18        2    1
T039 2007-09-24        1    1
T039 2007-10-04        2
T039 2009-05-28        1
T039 2009-06-02        3
T039 2009-06-05        1    1
T039 2009-06-19        1
T039 2009-06-26        1
T039 2009-07-06        1
T039 2009-07-17        1
T039 2009-07-24        1
T039 2009-07-31        3
T039 2009-08-13        2
T039 2009-09-14        2
T039 2009-09-17        3    1
T039 2009-09-25        2
T039 2009-10-01        1    1
T039 2011-06-17        2
T039 2011-06-24        1    1
T039 2011-06-30        1
T039 2011-07-11        1
T039 2011-07-15        1
T039 2011-07-25        2
T039 2011-07-29        1    1
T039 2011-08-12        1
T039 2011-08-26        2
T039 2011-09-01        2    1
T039 2011-09-12        2
T039 2011-09-23        1
T039 2013-06-14        1
T039 2013-07-08        1
T039 2013-07-12        1
T039 2013-07-19        1
T039 2013-07-25        1
T039 2013-08-01        2
T039 2013-08-08        2    1
T039 2013-08-15        1    1
T039 2013-08-22        2
T039 2013-08-29        1    1
T039 2013-09-06        2
T039 2013-09-12        1    1
T039 2013-09-19        1
T039 2013-09-26        1
           Date  Records More
Trap
T040 2007-06-26        2
           Date  Records More
Trap
T043 2007-06-26        1
T043 2007-06-29        2
T043 2007-07-02        1    1
T043 2007-07-11        2
T043 2007-07-18        1    1
T043 2007-07-27        2
T043 2007-08-01        5    1
T043 2007-08-07        1    1
T043 2007-08-15        2
T043 2007-08-21        3    1
T043 2007-08-24        1    1
T043 2007-10-04        1
T043 2009-05-28        1
T043 2009-07-10        2
T043 2009-07-17        3    1
T043 2009-07-24        1    1
T043 2009-07-31        1
T043 2009-08-07        2
T043 2009-08-25        2
T043 2009-09-14        1
T043 2009-09-25        1
T043 2009-10-01        1
T043 2011-08-05        1
T043 2011-08-19        2
T043 2011-09-12        1
T043 2011-09-16        1
T043 2013-06-14        1
T043 2013-06-27        1
T043 2013-07-12        2
T043 2013-07-19        1    1
T043 2013-07-25        2
T043 2013-08-01        1    1
T043 2013-08-08        2
T043 2013-08-15        2    1
T043 2013-08-22        2    1
T043 2013-08-29        2    1
T043 2013-09-06        2
T043 2013-09-12        2    1
T043 2013-09-19        1    1
           Date  Records More
Trap
T044 2007-07-02        2
T044 2007-07-18        3
T044 2007-08-01        3
T044 2007-08-15        1
T044 2007-08-21        1
T044 2007-09-04        2
T044 2007-09-18        2
T044 2007-10-04        1
           Date  Records More
Trap
T045 2007-05-29        1
T045 2007-06-05        3
T045 2007-06-26        2
T045 2007-07-02        2    1
T045 2007-07-11        2
T045 2007-07-18        2    1
T045 2007-07-27        2
T045 2007-08-01        4    1
T045 2007-08-07        2    1
T045 2007-08-15        5
T045 2007-08-21        2    1
T045 2007-08-24        2    1
T045 2007-09-04        2
T045 2007-09-18        2
T045 2007-10-04        1
T045 2009-05-28        1
           Date  Records More
Trap
T046 2007-05-29        1
T046 2007-06-05        1
T046 2007-06-26        2
T046 2007-06-29        1    1
T046 2007-07-02        2    1
T046 2007-07-11        3
T046 2007-07-18        4    1
T046 2007-07-27        3
T046 2007-08-01        6    1
T046 2007-08-07        2    1
T046 2007-08-15        2
T046 2007-08-21        2    1
T046 2007-08-24        3    1
T046 2007-09-18        1
T046 2007-10-04        2
T046 2009-06-02        2
T046 2009-06-05        1    1
T046 2009-06-12        2
T046 2009-06-26        2
T046 2009-07-06        3
T046 2009-07-17        4
T046 2009-07-24        1    1
T046 2009-07-31        2
T046 2009-08-07        3    1
T046 2009-08-13        2    1
T046 2009-08-25        2
T046 2009-09-03        2
T046 2009-09-14        1
T046 2009-09-17        2
T046 2009-09-25        1
T046 2009-10-01        1
T046 2011-06-17        1
T046 2011-06-30        1
T046 2011-07-11        1
T046 2011-07-15        1
T046 2011-07-25        1
T046 2011-07-29        1
T046 2011-08-05        1
T046 2011-08-12        2
T046 2011-08-26        1
T046 2011-09-01        1
T046 2011-09-12        3
T046 2011-09-16        2    1
T046 2011-09-23        1    1
T046 2013-06-14        1
T046 2013-06-21        1
T046 2013-06-27        2
T046 2013-07-08        1
T046 2013-07-12        2
T046 2013-07-19        2    1
T046 2013-07-25        2    1
T046 2013-08-01        2    1
T046 2013-08-08        2    1
T046 2013-08-15        2    1
T046 2013-08-22        3    1
T046 2013-08-29        1    1
T046 2013-09-06        1
T046 2013-09-12        3
T046 2013-09-19        1    1
T046 2013-09-26        1

           Date  Records More
Trap
T047 2007-06-26        2
T047 2007-07-02        2
T047 2007-07-11        2
T047 2007-07-18        1    1
T047 2007-07-19        1
T047 2007-07-27        1
T047 2007-08-01        4
T047 2007-08-15        2
T047 2007-08-21        2    1
T047 2007-08-24        2    1
T047 2007-09-04        1
T047 2007-09-18        2
T047 2007-09-24        1    1
T047 2007-10-04        2
T047 2009-06-05        2
T047 2009-06-12        1    1
T047 2009-06-19        2
T047 2009-06-26        3    1
T047 2009-07-06        2
T047 2009-07-10        1    1
T047 2009-07-13        2    1
T047 2009-07-17        3    1
T047 2009-07-24        2    1
T047 2009-07-31        2    1
T047 2009-08-07        1    1
T047 2009-09-03        1
T047 2009-09-17        2
T047 2009-09-25        3
T047 2011-06-10        3
T047 2011-06-17        2    1
T047 2011-06-24        2    1
T047 2011-06-30        2    1
T047 2011-07-11        3
T047 2011-07-15        3    1
T047 2011-07-25        3
T047 2011-07-29        3    1
T047 2011-08-05        1    1
T047 2011-08-19        2
T047 2011-08-26        1    1
T047 2011-09-01        1
T047 2011-09-12        2
T047 2011-09-16        3    1
T047 2011-09-30        1
T047 2013-06-07        1
T047 2013-06-14        1
T047 2013-06-21        2
T047 2013-06-27        2    1
T047 2013-07-08        2
T047 2013-07-12        3    1
T047 2013-07-19        2    1
T047 2013-07-25        1    1
T047 2013-08-01        1
T047 2013-08-08        2
T047 2013-08-15        2    1
T047 2013-08-22        1    1
T047 2013-08-29        2
T047 2013-09-06        2
T047 2013-09-12        3    1
T047 2013-09-19        1    1
T047 2013-09-26        2
           Date  Records More
Trap
T048 2007-05-29        2
T048 2007-06-05        3
T048 2007-06-26        1
T048 2007-07-02        1
T048 2007-07-11        2
T048 2007-07-18        2    1
T048 2007-07-27        2
T048 2007-08-01        4    1
T048 2007-08-07        2    1
T048 2007-08-15        3
T048 2007-08-21        2    1
T048 2007-08-24        2    1
T048 2007-09-12        1
T048 2007-09-18        2
T048 2007-09-24        2    1
T048 2007-10-04        2
T048 2009-06-02        1
T048 2009-06-05        2
T048 2009-06-12        3    1
T048 2009-06-19        1    1
T048 2009-06-22        2
T048 2009-06-26        5    1
T048 2009-07-06        3
T048 2009-07-10        4    1
T048 2009-07-17        2    1
T048 2009-07-24        5    1
T048 2009-08-07        3
T048 2009-08-13        3    1
T048 2009-08-25        3
T048 2009-09-03        3
...         ...      ...  ...
T048 2011-07-11        4
T048 2011-07-15        3    1
T048 2011-07-25        2
T048 2011-07-29        2    1
T048 2011-08-05        1    1
T048 2011-08-12        2
T048 2011-08-19        2    1
T048 2011-08-26        2    1
T048 2011-09-01        1    1
T048 2011-09-12        3
T048 2011-09-16        2    1
T048 2011-09-23        2    1
T048 2011-09-30        2    1
T048 2013-06-07        1
T048 2013-06-14        1
T048 2013-06-21        2
T048 2013-06-27        2    1
T048 2013-07-08        2
T048 2013-07-12        2    1
T048 2013-07-19        2    1
T048 2013-07-25        2    1
T048 2013-08-01        3    1
T048 2013-08-08        3    1
T048 2013-08-15        2    1
T048 2013-08-22        4    1
T048 2013-08-29        1    1
T048 2013-09-06        2
T048 2013-09-12        1    1
T048 2013-09-19        1
T048 2013-09-26        1

[66 rows x 3 columns]
           Date  Records More
Trap
T049 2007-05-29        1
T049 2007-06-05        1
T049 2007-06-26        1
T049 2007-07-11        2
T049 2007-07-18        1    1
T049 2007-07-27        2
T049 2007-08-01        5    1
T049 2007-08-07        2    1
T049 2007-08-15        3
T049 2007-08-21        3    1
T049 2007-08-24        2    1
T049 2007-09-04        1
T049 2007-09-12        2
T049 2007-09-18        1    1
T049 2007-09-24        2
T049 2007-10-04        2
T049 2009-06-02        1
T049 2009-06-05        1
T049 2009-06-12        3
T049 2009-06-19        3    1
T049 2009-06-26        2    1
T049 2009-07-06        2
T049 2009-07-10        2    1
T049 2009-07-17        2    1
T049 2009-08-27        1
T049 2009-09-14        2
T049 2009-09-17        1    1
T049 2009-09-25        1
T049 2011-06-10        1
T049 2011-07-11        1
T049 2011-07-15        1
T049 2011-07-25        1
T049 2011-07-29        2
T049 2011-08-12        1
T049 2011-08-19        1
T049 2011-08-26        1
T049 2011-09-01        2
T049 2011-09-16        2
T049 2011-09-23        1    1
T049 2013-06-21        1
T049 2013-06-27        1
T049 2013-07-12        1
T049 2013-07-19        1
T049 2013-07-25        2
T049 2013-08-01        1    1
T049 2013-08-08        2
T049 2013-08-15        1    1
T049 2013-08-22        2
T049 2013-08-29        1    1
T049 2013-09-06        2
T049 2013-09-12        2    1
T049 2013-09-19        1    1
T049 2013-09-26        1
           Date  Records More
Trap
T050 2007-05-29        1
T050 2007-06-05        2
T050 2007-06-26        1
T050 2007-07-18        1
T050 2007-08-01        3
T050 2007-08-07        2    1
T050 2007-08-15        2
T050 2007-08-21        2    1
T050 2007-08-24        2    1
T050 2007-10-04        1
           Date  Records More
Trap
T051 2007-06-26        1
T051 2007-07-02        1
T051 2007-07-18        1
T051 2007-07-27        1
T051 2007-08-15        2
T051 2007-08-21        1    1
T051 2007-08-24        1
T051 2007-09-04        1
T051 2007-09-12        1
T051 2007-09-18        1
T051 2007-09-24        2
T051 2007-10-04        2
           Date  Records More
Trap
T054 2007-05-29        2
T054 2007-06-05        1
T054 2007-06-29        1
T054 2007-07-02        2
T054 2007-07-11        2
T054 2007-07-18        2    1
T054 2007-07-27        1
T054 2007-08-01        1
T054 2007-08-07        1
T054 2007-08-15        2
T054 2007-08-21        2    1
T054 2007-08-24        2    1
T054 2007-09-04        2
T054 2007-09-12        2
T054 2007-09-18        2    1
T054 2007-09-24        2    1
T054 2007-10-04        2
T054 2009-05-28        2
T054 2009-06-02        3    1
T054 2009-06-12        2
T054 2009-06-15        2    1
T054 2009-06-19        6    1
T054 2009-06-26        1    1
T054 2009-07-06        4
T054 2009-07-10        4    1
T054 2009-07-17        6    1
T054 2009-07-24        4    1
T054 2009-07-31        4    1
T054 2009-08-07        3    1
T054 2009-08-13        3    1
...         ...      ...  ...
T054 2011-06-30        1    1
T054 2011-07-11        2
T054 2011-07-15        3    1
T054 2011-07-25        1
T054 2011-07-29        2
T054 2011-08-05        2    1
T054 2011-08-12        3    1
T054 2011-08-19        2    1
T054 2011-08-26        1    1
T054 2011-09-12        2
T054 2011-09-16        1    1
T054 2011-09-23        3
T054 2011-09-30        1    1
T054 2013-06-07        1
T054 2013-06-14        3
T054 2013-06-21        2    1
T054 2013-06-27        1    1
T054 2013-07-08        1
T054 2013-07-12        3
T054 2013-07-19        3    1
T054 2013-07-25        3    1
T054 2013-08-01        2    1
T054 2013-08-08        1    1
T054 2013-08-15        3
T054 2013-08-22        4    1
T054 2013-08-29        3    1
T054 2013-09-06        5
T054 2013-09-12        5    1
T054 2013-09-19        5    1
T054 2013-09-26        2    1

[66 rows x 3 columns]
            Date  Records More
Trap
T054C 2013-08-08        1
T054C 2013-08-15        2
T054C 2013-08-22        2    1
T054C 2013-08-29        1    1
T054C 2013-09-06        1
T054C 2013-09-12        1
T054C 2013-09-19        1
           Date  Records More
Trap
T060 2007-07-11        2
T060 2007-07-18        1
T060 2007-08-01        2
T060 2007-08-07        1    1
T060 2007-08-15        1
T060 2007-08-21        2
T060 2007-09-04        1
T060 2007-09-12        1
T060 2007-09-18        2
T060 2007-09-24        1    1
T060 2007-10-04        1

           Date  Records More
Trap
T061 2007-07-11        2
T061 2007-07-18        1
T061 2007-07-19        1
T061 2007-07-27        2
T061 2007-08-01        4    1
T061 2007-08-07        2    1
T061 2007-08-15        2
T061 2007-08-21        4    1
T061 2007-08-24        2    1
T061 2007-09-04        4
T061 2007-09-12        3
T061 2007-09-18        1    1
T061 2007-09-24        3
T061 2007-10-04        2
T061 2009-06-02        1
T061 2009-06-12        2
T061 2009-06-19        1    1
T061 2009-06-26        1
T061 2009-07-06        2
T061 2009-07-10        1    1
T061 2009-07-17        1
T061 2009-07-24        1
T061 2009-07-31        1
T061 2009-08-25        1
T061 2009-09-03        2
T061 2009-09-14        2
T061 2009-09-17        1    1
T061 2009-09-25        1
T061 2011-06-17        2
T061 2011-06-24        1    1
T061 2011-07-11        2
T061 2011-07-15        3    1
T061 2011-07-25        2
T061 2011-07-29        2    1
T061 2011-08-12        1
T061 2011-08-26        2
T061 2011-09-12        2
T061 2011-09-16        1    1
T061 2011-09-23        2
T061 2011-09-30        2    1
T061 2013-06-07        1
T061 2013-06-14        2
T061 2013-06-21        1    1
T061 2013-06-27        2
T061 2013-07-08        1
T061 2013-07-12        2
T061 2013-07-19        2    1
T061 2013-07-25        2    1
T061 2013-08-01        2    1
T061 2013-08-08        3    1
T061 2013-08-15        3    1
T061 2013-08-22        3    1
T061 2013-09-06        2
T061 2013-09-12        2    1
T061 2013-09-19        1    1
T061 2013-09-26        1
           Date  Records More
Trap
T062 2007-07-11        1
T062 2007-07-18        3
T062 2007-07-19        1    1
T062 2007-08-01        5
T062 2007-08-15        1
T062 2007-08-21        3
T062 2007-08-24        1    1
T062 2007-09-04        2
T062 2007-09-12        2
T062 2007-09-18        2    1
T062 2007-09-24        1    1
T062 2007-10-04        4
T062 2009-05-28        1
T062 2009-06-02        2
T062 2009-06-05        1    1
T062 2009-06-12        2
T062 2009-06-19        1    1
T062 2009-07-06        1
T062 2009-07-17        2
T062 2009-07-31        1
T062 2009-08-07        1
T062 2009-08-27        1
T062 2009-09-03        1
T062 2009-09-17        1
T062 2009-09-25        1
T062 2011-06-24        1
T062 2011-07-15        1
T062 2011-07-25        2
T062 2011-07-29        1    1
T062 2011-08-05        2
T062 2011-08-12        1    1
T062 2011-08-19        2
T062 2011-08-26        1    1
T062 2011-09-01        1
T062 2011-09-12        1
T062 2011-09-16        1
T062 2011-09-23        1
T062 2013-06-07        2
T062 2013-06-14        2    1
T062 2013-06-21        2    1
T062 2013-06-27        2    1
T062 2013-07-08        1
T062 2013-07-12        3
T062 2013-07-19        1    1
T062 2013-07-25        1
T062 2013-08-01        1
T062 2013-08-08        2
T062 2013-08-15        2    1
T062 2013-08-22        1    1
T062 2013-08-29        1
T062 2013-09-06        2
T062 2013-09-19        1
T062 2013-09-26        1
           Date  Records More
Trap
T063 2007-07-18        2
T063 2007-07-19        1
T063 2007-07-27        1
T063 2007-08-07        1
T063 2007-08-15        2
T063 2007-08-21        2    1
T063 2007-08-24        2    1
T063 2007-09-04        2
T063 2007-09-12        1
T063 2007-09-18        1
T063 2007-09-19        1
T063 2007-09-24        2
T063 2007-10-04        2
T063 2009-05-28        1
T063 2009-06-02        3
T063 2009-06-05        2    1
T063 2009-06-12        3    1
T063 2009-06-19        2    1
T063 2009-06-26        1    1
T063 2009-07-06        1
T063 2009-07-10        2
T063 2009-07-17        3    1
T063 2009-07-31        2
T063 2009-08-07        1    1
T063 2009-08-13        2
T063 2009-08-25        1
T063 2009-09-14        3
T063 2009-09-17        2    1
T063 2009-09-25        1
T063 2009-10-01        3
T063 2011-06-17        1
T063 2011-06-24        2
T063 2011-06-30        2    1
T063 2011-07-11        2
T063 2011-07-15        2    1
T063 2011-07-25        3
T063 2011-07-29        2    1
T063 2011-08-05        2    1
T063 2011-08-12        1    1
T063 2011-08-19        1
T063 2011-08-26        1
T063 2011-09-12        3
T063 2011-09-16        3    1
T063 2011-09-30        1
T063 2013-06-14        2
T063 2013-06-21        1    1
T063 2013-06-28        1
T063 2013-07-08        2
T063 2013-07-12        2    1
T063 2013-07-19        2    1
T063 2013-07-25        1    1
T063 2013-08-01        2
T063 2013-08-08        2    1
T063 2013-08-15        1    1
T063 2013-08-22        3
T063 2013-08-29        2    1
T063 2013-09-06        2
T063 2013-09-19        1
T063 2013-09-26        1
           Date  Records More
Trap
T065 2007-07-11        3
T065 2007-07-18        2
T065 2007-07-19        1    1
T065 2007-08-01        7
T065 2007-08-07        2    1
T065 2007-08-15        6
T065 2007-08-21        6    1
T065 2007-08-24        2    1
T065 2007-09-04        4
T065 2007-09-12        2
T065 2007-09-19        4    1
T065 2007-09-24        2    1
T065 2007-10-04        3
T065 2009-06-19        1
T065 2009-06-26        1
T065 2009-07-06        1
T065 2009-07-10        1
T065 2009-07-17        1
T065 2009-07-31        2
T065 2009-08-13        2
T065 2009-09-25        1
T065 2011-06-17        1
T065 2011-06-24        1
T065 2011-06-30        2
T065 2011-07-11        2
T065 2011-07-15        2    1
T065 2011-07-25        3
T065 2011-07-29        3    1
T065 2011-08-05        3    1
T065 2011-08-12        2    1
T065 2011-08-19        1    1
T065 2011-08-26        1
T065 2011-09-12        3
T065 2011-09-16        3    1
T065 2011-09-23        2    1
T065 2013-06-14        2
T065 2013-06-21        2    1
T065 2013-06-27        1    1
T065 2013-07-08        2
T065 2013-07-12        2    1
T065 2013-07-19        1    1
T065 2013-07-25        1
T065 2013-08-01        2
T065 2013-08-08        3    1
T065 2013-08-15        2    1
T065 2013-08-22        1    1
T065 2013-08-29        1
T065 2013-09-06        2
T065 2013-09-12        3    1
T065 2013-09-19        1    1
           Date  Records More
Trap
T066 2007-07-11        1
T066 2007-07-19        1
T066 2007-07-27        1
T066 2007-08-01        6
T066 2007-08-07        1    1
T066 2007-08-15        3
T066 2007-08-21        3    1
T066 2007-08-24        1    1
T066 2007-09-04        2
T066 2007-09-12        2
T066 2007-09-19        2    1
T066 2007-09-24        3    1
T066 2007-10-04        4
T066 2009-06-02        2
T066 2009-06-05        2    1
T066 2009-06-12        2    1
T066 2009-06-19        2    1
T066 2009-06-26        2    1
T066 2009-07-06        2
T066 2009-07-10        2    1
T066 2009-07-17        1    1
T066 2009-07-24        3
T066 2009-07-31        3    1
T066 2009-08-13        2
T066 2009-08-25        1
T066 2009-09-14        2
T066 2009-09-17        2    1
T066 2009-09-25        2
T066 2009-10-01        1    1
T066 2011-06-10        2
T066 2011-06-17        1    1
T066 2011-06-24        1
T066 2011-07-15        2
T066 2011-07-29        1
T066 2011-08-12        2
T066 2011-08-19        2    1
T066 2011-08-26        1    1
T066 2011-09-01        2
T066 2011-09-12        2
T066 2011-09-16        2    1
T066 2011-09-23        2    1
T066 2013-06-07        1
T066 2013-06-14        2
T066 2013-06-21        2    1
T066 2013-06-27        2    1
T066 2013-07-08        1
T066 2013-07-12        2
T066 2013-07-19        2    1
T066 2013-07-25        2    1
T066 2013-08-01        2    1
T066 2013-08-08        4    1
T066 2013-08-15        2    1
T066 2013-08-22        3    1
T066 2013-08-29        2    1
T066 2013-09-06        2
T066 2013-09-12        4    1
T066 2013-09-19        1    1
T066 2013-09-26        1
           Date  Records More
Trap
T067 2007-07-11        1
T067 2007-07-27        2
T067 2007-08-01        9    1
T067 2007-08-07        2    1
T067 2007-08-15        2
T067 2007-08-21        2    1
T067 2007-08-24        2    1
T067 2007-09-04        2
T067 2007-09-12        2
T067 2007-09-19        3    1
T067 2007-09-24        1    1
T067 2007-10-04        2

           Date  Records More
Trap
T069 2007-07-11        3
T069 2007-08-01        8
T069 2007-08-07        1    1
T069 2007-08-15        2
T069 2007-08-21        2    1
T069 2007-08-24        2    1
T069 2007-09-04        2
T069 2007-09-12        3
T069 2007-10-04        2
T069 2009-06-02        1
T069 2009-06-05        1
T069 2009-06-12        2
T069 2009-06-19        2    1
T069 2009-06-26        1    1
T069 2009-07-06        1
T069 2009-07-10        2
T069 2009-07-17        2    1
T069 2009-07-31        1
T069 2009-08-07        1
T069 2009-08-13        3
T069 2009-08-25        1
T069 2009-08-27        1
T069 2009-09-03        2
T069 2009-09-17        1
T069 2009-10-01        1
T069 2011-06-17        1
T069 2011-06-24        1
T069 2011-07-25        2
T069 2011-08-12        1
T069 2011-08-19        2
T069 2011-08-26        1    1
T069 2011-09-01        1
T069 2011-09-16        1
T069 2013-06-07        1
T069 2013-06-21        1
T069 2013-06-27        1
T069 2013-07-08        1
T069 2013-07-12        2
T069 2013-07-19        2    1
T069 2013-07-25        2    1
T069 2013-08-01        2    1
T069 2013-08-08        3    1
T069 2013-08-15        2    1
T069 2013-08-22        2    1
T069 2013-08-29        1    1
T069 2013-09-06        2
T069 2013-09-12        1    1
T069 2013-09-19        1
T069 2013-09-26        1
           Date  Records More
Trap
T070 2007-07-11        1
T070 2007-07-27        2
T070 2007-08-01        6    1
T070 2007-08-07        1    1
T070 2007-08-15        2
T070 2007-08-21        2    1
T070 2007-08-24        1    1
T070 2007-09-04        1
T070 2007-09-19        2
T070 2007-10-04        2
           Date  Records More
Trap
T071 2007-07-11        1
T071 2007-07-19        1
T071 2007-07-27        1
T071 2007-08-01        4
T071 2007-08-15        1
T071 2007-08-21        2
T071 2007-08-24        2    1
T071 2007-09-04        1
T071 2007-09-05        1
T071 2007-09-12        1
T071 2007-09-19        2
T071 2007-10-04        2
           Date  Records More
Trap
T072 2007-07-27        2
T072 2007-08-01        4
T072 2007-08-15        1
T072 2007-08-21        2
T072 2007-08-24        2    1
T072 2007-09-05        1
T072 2007-09-12        1
           Date  Records More
Trap
T073 2007-07-11        2
T073 2007-07-27        1
T073 2007-08-01        8
T073 2007-08-07        2    1
T073 2007-08-15        2
T073 2007-08-21        2    1
T073 2007-08-24        3    1
T073 2007-09-05        2
T073 2007-09-12        2    1
T073 2007-09-19        2    1
T073 2007-09-24        2    1
T073 2007-10-04        2
T073 2009-05-28        2
T073 2009-06-02        3    1
T073 2009-06-05        3    1
T073 2009-06-12        2    1
T073 2009-06-19        1    1
T073 2009-06-26        1
T073 2009-07-10        3
T073 2009-07-17        3    1
T073 2009-07-24        2    1
T073 2009-07-31        3    1
T073 2009-08-07        3    1
T073 2009-08-13        3    1
T073 2009-08-27        2
T073 2009-09-03        3    1
T073 2009-09-14        3
T073 2009-09-17        3    1
T073 2009-09-25        2
T073 2011-06-10        1
...         ...      ...  ...
T073 2011-06-24        2    1
T073 2011-06-30        1    1
T073 2011-07-11        1
T073 2011-07-15        3
T073 2011-07-25        3
T073 2011-07-29        3    1
T073 2011-08-05        3    1
T073 2011-08-12        3    1
T073 2011-08-19        2    1
T073 2011-08-26        2    1
T073 2011-09-01        1    1
T073 2011-09-12        1
T073 2011-09-23        1
T073 2013-06-07        2
T073 2013-06-14        2    1
T073 2013-06-21        1    1
T073 2013-06-28        2
T073 2013-07-08        2
T073 2013-07-12        2    1
T073 2013-07-19        2    1
T073 2013-07-25        1    1
T073 2013-08-01        2
T073 2013-08-08        2    1
T073 2013-08-15        1    1
T073 2013-08-22        1
T073 2013-08-29        1
T073 2013-09-06        1
T073 2013-09-12        2
T073 2013-09-19        2    1
T073 2013-09-26        1    1

[61 rows x 3 columns]
           Date  Records More
Trap
T074 2007-07-11        1
T074 2007-07-19        1
T074 2007-08-01        9
T074 2007-08-02        2    1
T074 2007-08-07        3    1
T074 2007-08-15        4
T074 2007-08-21        2    1
T074 2007-08-24        2    1
T074 2007-09-05        1
T074 2007-09-12        1
T074 2007-09-19        1
T074 2007-09-24        1
T074 2007-10-04        2
T074 2009-05-28        1
T074 2009-06-02        3
T074 2009-06-05        1    1
T074 2009-06-12        3
T074 2009-06-19        2    1
T074 2009-06-26        2    1
T074 2009-07-06        3
T074 2009-07-10        3    1
T074 2009-07-17        2    1
T074 2009-07-24        1    1
T074 2009-07-31        2
T074 2009-08-13        2
T074 2009-08-27        2
T074 2009-09-17        2
T074 2009-09-25        1
T074 2009-10-01        1
T074 2011-06-10        1
...         ...      ...  ...
T074 2011-06-24        1
T074 2011-06-30        2
T074 2011-07-11        1
T074 2011-07-15        1
T074 2011-07-25        2
T074 2011-07-29        1    1
T074 2011-08-05        2
T074 2011-08-12        2    1
T074 2011-08-19        2    1
T074 2011-08-26        1    1
T074 2011-09-01        1
T074 2011-09-12        1
T074 2011-09-16        2
T074 2011-09-23        2    1
T074 2013-06-07        2
T074 2013-06-21        2
T074 2013-06-28        2    1
T074 2013-07-08        2
T074 2013-07-12        3    1
T074 2013-07-19        1    1
T074 2013-07-25        3
T074 2013-08-01        2    1
T074 2013-08-08        3    1
T074 2013-08-15        2    1
T074 2013-08-22        3    1
T074 2013-08-29        2    1
T074 2013-09-06        1
T074 2013-09-12        1
T074 2013-09-19        1
T074 2013-09-26        1

[61 rows x 3 columns]
           Date  Records More
Trap
T075 2007-07-11        1
T075 2007-08-01        4
T075 2007-08-07        2    1
T075 2007-08-15        3
T075 2007-08-21        3    1
T075 2007-08-24        1    1
T075 2007-09-05        1
T075 2007-09-19        1
T075 2007-09-24        1
T075 2007-10-04        3
           Date  Records More
Trap
T076 2007-07-11        1
T076 2007-08-15        1
T076 2007-08-24        2
T076 2007-09-19        1
           Date  Records More
Trap
T077 2007-07-11        1
T077 2007-08-01        4
T077 2007-08-02        1    1
T077 2007-08-15        1
T077 2007-08-21        1
T077 2007-08-24        1
T077 2007-09-05        2
T077 2007-09-19        1
T077 2007-10-04        1
T077 2011-06-24        1
T077 2011-08-05        1
T077 2011-08-12        1
T077 2011-08-19        2
T077 2013-06-21        1
T077 2013-06-28        1
T077 2013-07-12        1
T077 2013-07-19        1
T077 2013-07-25        1
T077 2013-08-01        1
T077 2013-08-08        1
T077 2013-08-15        1
T077 2013-08-22        2
T077 2013-08-29        1    1
T077 2013-09-06        2
T077 2013-09-12        1    1
T077 2013-09-19        1
           Date  Records More
Trap
T078 2007-08-01        3
T078 2007-08-24        2
T078 2007-09-12        1
T078 2007-09-19        1
T078 2007-09-24        1
           Date  Records More
Trap
T079 2007-07-11        2
T079 2007-08-01        9
T079 2007-08-07        3    1
T079 2007-08-15        3
T079 2007-08-21        3    1
T079 2007-08-24        2    1
T079 2007-09-05        3
T079 2007-09-12        1    1
T079 2007-09-19        3
T079 2007-09-24        2    1
T079 2007-10-04        3
T079 2009-05-28        1
T079 2009-06-19        1
T079 2009-07-06        1
T079 2009-07-10        1
T079 2009-07-17        1
T079 2009-08-27        2
T079 2009-09-03        2    1
T079 2009-09-14        1
T079 2009-09-17        1
T079 2011-06-17        1
T079 2011-06-30        2
T079 2011-07-15        3
T079 2011-07-25        2
T079 2011-07-29        1    1
T079 2011-08-05        1
T079 2011-08-12        1
T079 2011-08-19        1
T079 2011-08-26        1
T079 2011-09-12        1
T079 2011-09-16        1
T079 2011-09-23        1
T079 2011-09-30        1
T079 2013-06-14        1
T079 2013-06-21        2
T079 2013-06-28        2    1
T079 2013-07-08        2
T079 2013-07-12        2    1
T079 2013-07-19        1    1
T079 2013-07-25        1
T079 2013-08-01        1
T079 2013-08-08        2
T079 2013-08-15        1    1
T079 2013-08-22        1
T079 2013-08-29        1
T079 2013-09-06        1
T079 2013-09-12        1
T079 2013-09-19        1
T079 2013-09-26        1

           Date  Records More
Trap
T080 2007-07-11        2
T080 2007-08-01        6
T080 2007-08-07        2    1
T080 2007-08-15        2
T080 2007-08-21        3    1
T080 2007-08-24        2    1
T080 2007-09-05        1
T080 2007-09-12        1
T080 2007-09-19        1
T080 2007-09-24        2
T080 2007-10-04        1
T080 2009-06-12        1
T080 2009-06-26        1
T080 2009-07-06        1
T080 2009-07-10        2
T080 2009-07-17        2    1
T080 2009-07-24        2    1
T080 2009-07-31        3    1
T080 2009-08-07        3    1
T080 2009-08-25        1
T080 2009-09-14        1
T080 2009-09-25        1
T080 2011-06-17        2
T080 2011-06-24        2    1
T080 2011-06-30        2    1
T080 2011-07-11        2
T080 2011-07-15        2    1
T080 2011-07-25        2
T080 2011-07-29        1    1
T080 2011-08-05        3
T080 2011-08-19        1
T080 2011-08-26        1
T080 2011-09-01        1
T080 2011-09-12        1
T080 2011-09-16        2
T080 2011-09-23        2    1
T080 2011-09-30        1    1
T080 2013-06-07        1
T080 2013-06-21        1
T080 2013-06-28        1
T080 2013-07-08        2
T080 2013-07-12        2    1
T080 2013-07-19        2    1
T080 2013-07-25        2    1
T080 2013-08-08        3
T080 2013-08-15        3    1
T080 2013-08-22        1    1
T080 2013-08-29        1
T080 2013-09-06        3
T080 2013-09-12        2    1
T080 2013-09-19        2    1
           Date  Records More
Trap
T081 2007-07-11        2
T081 2007-08-01        6
T081 2007-08-02        2    1
T081 2007-08-07        3    1
T081 2007-08-15        2
T081 2007-08-21        2    1
T081 2007-08-24        2    1
T081 2007-09-05        1
T081 2007-09-12        1
T081 2007-09-19        2
T081 2007-10-04        2
T081 2009-06-12        1
T081 2009-06-19        1
T081 2009-07-06        1
T081 2009-07-10        1
T081 2009-07-17        1
T081 2009-07-31        1
T081 2009-09-03        1
T081 2009-09-14        1
T081 2011-06-24        1
T081 2011-06-30        2
T081 2011-07-11        1
T081 2011-07-29        1
T081 2011-08-05        1
T081 2011-08-12        1
T081 2011-08-19        1
T081 2011-08-26        1
T081 2011-09-12        1
T081 2011-09-16        1
           Date  Records More
Trap
T082 2007-07-11        3
T082 2007-08-01        8
T082 2007-08-02        2    1
T082 2007-08-07        2    1
T082 2007-08-15        6
T082 2007-08-21        2    1
T082 2007-08-24        2    1
T082 2007-09-05        1
T082 2007-09-12        1
T082 2007-09-19        1
T082 2007-10-04        2
T082 2009-05-28        1
T082 2009-06-02        2
T082 2009-06-05        2    1
T082 2009-06-12        1    1
T082 2009-07-06        3
T082 2009-07-10        2    1
T082 2009-07-17        2    1
T082 2009-08-07        2
T082 2009-08-13        1    1
T082 2009-09-03        1
T082 2009-09-14        2
T082 2009-09-25        2
T082 2009-10-01        2    1
T082 2011-06-17        1
T082 2011-06-24        1
T082 2011-06-30        1
T082 2011-07-11        2
T082 2011-07-15        3    1
T082 2011-07-25        2
T082 2011-07-29        1    1
T082 2011-08-05        2
T082 2011-08-26        1
T082 2011-09-01        1
T082 2011-09-12        2
T082 2011-09-16        1    1
T082 2011-09-30        1
T082 2013-06-07        1
T082 2013-06-14        1
T082 2013-06-21        1
T082 2013-06-28        1
T082 2013-07-08        2
T082 2013-07-12        2    1
T082 2013-07-19        2    1
T082 2013-07-25        3    1
T082 2013-08-01        2    1
T082 2013-08-08        3    1
T082 2013-08-15        1    1
T082 2013-08-22        1
T082 2013-08-29        1
T082 2013-09-06        1
T082 2013-09-12        1
T082 2013-09-19        1
T082 2013-09-26        2
           Date  Records More
Trap
T083 2007-07-11        2
T083 2007-08-01        8
T083 2007-08-02        2    1
T083 2007-08-07        2    1
T083 2007-08-15        1
T083 2007-08-21        2
T083 2007-08-24        2    1
T083 2007-09-05        1
T083 2007-09-19        1
T083 2007-09-24        2
T083 2009-05-28        1
T083 2009-06-02        1
T083 2009-06-12        1
T083 2009-06-26        2
T083 2009-07-06        1
T083 2009-07-17        1
T083 2009-07-24        1
T083 2009-07-31        1
T083 2009-08-13        1
T083 2009-08-27        1
T083 2009-09-17        1
T083 2011-06-30        1
T083 2011-07-11        1
T083 2011-07-15        1
T083 2011-07-25        2
T083 2011-08-12        1
T083 2011-08-19        1
T083 2011-08-26        2
T083 2011-09-01        2    1
T083 2011-09-12        2
T083 2011-09-16        1    1
T083 2011-09-23        1
T083 2011-09-30        1
T083 2013-06-07        2
T083 2013-06-14        1    1
T083 2013-06-28        2
T083 2013-07-12        2
T083 2013-07-19        3    1
T083 2013-07-25        2    1
T083 2013-08-01        2    1
T083 2013-08-08        2    1
T083 2013-08-15        1    1
T083 2013-08-22        1
T083 2013-08-29        1
T083 2013-09-06        1
T083 2013-09-12        1
T083 2013-09-19        1
T083 2013-09-26        1
           Date  Records More
Trap
T084 2007-06-29        2
T084 2007-07-11        3
T084 2007-07-18        1    1
T084 2007-08-01        4
T084 2007-08-02        1    1
T084 2007-08-07        2    1
T084 2007-08-15        2
T084 2007-08-21        2    1
T084 2007-08-24        2    1
T084 2007-09-05        1
T084 2007-09-12        1
T084 2007-09-19        1
T084 2007-09-24        1
T084 2007-10-04        2
           Date  Records More
Trap
T085 2007-06-26        1
T085 2007-06-29        2
T085 2007-07-02        1    1
T085 2007-07-11        1
T085 2007-08-01        7
T085 2007-08-02        2    1
T085 2007-08-07        2    1
T085 2007-08-15        2
T085 2007-08-21        2    1
T085 2007-08-24        2    1
T085 2007-09-05        2
T085 2007-09-12        2    1
T085 2007-09-19        2    1
T085 2007-09-24        3    1
T085 2007-10-04        2
           Date  Records More
Trap
T086 2007-05-29        2
T086 2007-06-05        1
T086 2007-06-26        3
T086 2007-06-29        2    1
T086 2007-07-02        2    1
T086 2007-07-11        9
T086 2007-07-18        2    1
T086 2007-08-01       19
T086 2007-08-02        3    1
T086 2007-08-07        5    1
T086 2007-08-15       12
T086 2007-08-21        4    1
T086 2007-08-22        1    1
T086 2007-08-24        5    1
T086 2007-09-05        3
T086 2007-09-12        2    1
T086 2007-09-19        3    1
T086 2007-09-24        4    1
T086 2007-10-04        4
           Date  Records More
Trap
T088 2007-06-26        1
T088 2007-07-02        1
T088 2007-07-11        2
T088 2007-08-01        5
T088 2007-08-02        3    1
T088 2007-08-07        1    1
T088 2007-08-15        3
T088 2007-08-21        2    1
T088 2007-08-24        2    1
T088 2007-09-05        2
T088 2007-09-12        1    1
T088 2007-09-19        1
T088 2007-09-24        2
T088 2007-10-04        2
           Date  Records More
Trap
T089 2007-06-05        1
T089 2007-06-29        1
T089 2007-07-02        1
T089 2007-07-11        2
T089 2007-08-01        2
T089 2007-08-02        1    1
T089 2007-08-07        2    1
T089 2007-08-15        2
T089 2007-08-21        2    1
T089 2007-08-24        2    1
T089 2007-09-05        2
T089 2007-09-12        1    1
T089 2007-09-19        1
T089 2007-09-24        2
T089 2007-10-04        1
T089 2009-05-28        1
T089 2009-06-02        3
T089 2009-06-05        1    1
T089 2009-06-12        1
T089 2009-06-19        1
T089 2009-06-26        1
T089 2009-07-06        1
T089 2009-07-13        4
T089 2009-07-17        1    1
T089 2009-07-27        2
T089 2009-07-31        1    1
T089 2009-08-07        1
T089 2009-08-13        1
T089 2009-08-25        1
T089 2009-09-17        1
T089 2011-06-24        2
T089 2011-06-30        2    1
T089 2011-07-11        1
T089 2011-07-15        1
T089 2011-07-25        1
T089 2011-07-29        1
T089 2011-08-05        4
T089 2011-08-12        2    1
T089 2011-08-19        1    1
T089 2011-08-26        1
T089 2011-09-12        1
T089 2011-09-23        1
T089 2013-06-07        2
T089 2013-06-14        1    1
T089 2013-06-21        2
T089 2013-06-28        2    1
T089 2013-07-08        1
T089 2013-07-12        2
T089 2013-07-19        2    1
T089 2013-07-25        2    1
T089 2013-08-01        2    1
T089 2013-08-08        2    1
T089 2013-08-15        3    1
T089 2013-08-22        1    1
T089 2013-08-29        2
T089 2013-09-06        1
T089 2013-09-12        2
T089 2013-09-19        1    1
T089 2013-09-26        1

           Date  Records More
Trap
T090 2007-06-05        2
T090 2007-06-26        3
T090 2007-06-29        3    1
T090 2007-07-02        2    1
T090 2007-07-11        2
T090 2007-08-01        9
T090 2007-08-02        2    1
T090 2007-08-07        3    1
T090 2007-08-15        3
T090 2007-08-21        3    1
T090 2007-09-05        1
T090 2007-09-12        2
T090 2007-09-19        3    1
T090 2007-09-24        1    1
T090 2007-10-04        2
T090 2009-05-28        2
T090 2009-06-02        3    1
T090 2009-06-05        1    1
T090 2009-06-12        1
T090 2009-06-15        1
T090 2009-06-19        2
T090 2009-06-26        2    1
T090 2009-07-06        2
T090 2009-07-10        3    1
T090 2009-07-17        2    1
T090 2009-07-27        4
T090 2009-07-31        2    1
T090 2009-08-07        2    1
T090 2009-08-13        3    1
T090 2009-08-25        2
...         ...      ...  ...
T090 2011-06-10        2
T090 2011-06-17        2    1
T090 2011-06-30        5
T090 2011-07-11        2
T090 2011-07-15        4    1
T090 2011-07-25        3
T090 2011-07-29        2    1
T090 2011-08-05        3    1
T090 2011-08-12        3    1
T090 2011-08-26        4
T090 2011-09-02        1    1
T090 2011-09-12        2
T090 2011-09-16        1    1
T090 2011-09-23        2
T090 2013-06-14        1
T090 2013-06-21        1
T090 2013-06-28        1
T090 2013-07-08        2
T090 2013-07-12        3    1
T090 2013-07-19        2    1
T090 2013-07-25        2    1
T090 2013-08-01        3    1
T090 2013-08-08        3    1
T090 2013-08-15        1    1
T090 2013-08-22        3
T090 2013-08-29        6    1
T090 2013-09-06        1
T090 2013-09-12        1
T090 2013-09-19        2
T090 2013-09-26        1    1

[65 rows x 3 columns]
           Date  Records More
Trap
T091 2007-05-29        1
T091 2007-06-29        1
T091 2007-07-11        2
T091 2007-07-18        2    1
T091 2007-07-19        1    1
T091 2007-08-01        6
T091 2007-08-02        2    1
T091 2007-08-07        2    1
T091 2007-08-15        2
T091 2007-08-21        1    1
T091 2007-08-22        1    1
T091 2007-08-24        2
T091 2007-09-05        2
T091 2007-09-12        1    1
T091 2007-09-19        3
T091 2007-09-24        1    1
T091 2007-10-04        2
           Date  Records More
Trap
T092 2007-06-05        1
T092 2007-07-02        1
T092 2007-07-11        2
T092 2007-08-01        6
T092 2007-08-02        2    1
T092 2007-08-07        2    1
T092 2007-08-15        2
T092 2007-08-22        2    1
T092 2007-08-24        2    1
T092 2007-09-19        2
T092 2007-09-24        2    1
T092 2007-10-04        2
           Date  Records More
Trap
T094 2007-05-29        1
T094 2007-06-05        1
T094 2007-07-11        1
T094 2007-08-01        3
T094 2007-08-07        2    1
T094 2007-08-15        2
T094 2007-08-22        3    1
T094 2007-08-24        2    1
T094 2007-09-05        1
T094 2007-09-12        1
T094 2007-09-19        2
T094 2007-10-04        1
T094 2009-05-28        2
T094 2009-06-02        2    1
T094 2009-06-05        3    1
T094 2009-06-12        2    1
T094 2009-06-19        2    1
T094 2009-06-26        2    1
T094 2009-07-06        1
T094 2009-07-13        3
T094 2009-07-17        2    1
T094 2009-07-27        3
T094 2009-07-31        3    1
T094 2009-08-07        3    1
T094 2009-08-13        3    1
T094 2009-08-25        2
T094 2009-08-27        1    1
T094 2009-09-14        1
T094 2009-09-17        1
T094 2009-09-25        2
...         ...      ...  ...
T094 2011-06-10        1
T094 2011-06-17        1
T094 2011-06-30        3
T094 2011-07-11        2
T094 2011-07-15        3    1
T094 2011-07-25        3
T094 2011-07-29        2    1
T094 2011-08-05        2    1
T094 2011-08-12        3    1
T094 2011-08-26        3
T094 2011-09-02        2    1
T094 2011-09-12        2
T094 2011-09-16        2    1
T094 2013-06-07        1
T094 2013-06-14        3
T094 2013-06-21        4    1
T094 2013-06-28        1    1
T094 2013-07-08        2
T094 2013-07-12        2    1
T094 2013-07-19        2    1
T094 2013-07-25        2    1
T094 2013-08-01        1    1
T094 2013-08-08        3
T094 2013-08-15        1    1
T094 2013-08-22        3
T094 2013-08-29        1    1
T094 2013-09-06        2
T094 2013-09-12        2    1
T094 2013-09-19        2    1
T094 2013-09-26        1    1

[61 rows x 3 columns]
            Date  Records More
Trap
T094B 2013-07-08        2
T094B 2013-07-12        1
T094B 2013-07-19        2
           Date  Records More
Trap
T095 2007-07-02        1
T095 2007-08-02        2
T095 2007-08-07        1    1
T095 2007-08-15        3
T095 2007-08-22        2    1
T095 2007-08-24        1    1
T095 2007-09-12        1
T095 2007-09-19        1
T095 2007-09-24        2
T095 2007-10-04        1
T095 2009-06-02        2
T095 2009-06-05        1    1
T095 2009-06-12        2
T095 2009-06-19        1    1
T095 2009-06-26        1
T095 2009-07-06        2
T095 2009-07-10        2    1
T095 2009-07-17        2    1
T095 2009-07-27        3
T095 2009-07-31        1    1
T095 2009-08-07        3
T095 2009-08-13        1    1
T095 2009-08-27        1
T095 2009-09-14        2
T095 2009-09-17        1    1
T095 2009-09-25        2
T095 2009-10-01        2    1
T095 2011-06-10        1
T095 2011-06-17        1
T095 2011-06-24        2
T095 2011-06-30        3    1
T095 2011-07-11        1
T095 2011-07-25        3
T095 2011-07-29        1    1
T095 2011-08-05        3
T095 2011-08-12        1    1
T095 2011-08-26        1
T095 2011-09-02        1
T095 2011-09-12        3
T095 2013-06-07        1
T095 2013-06-14        1
T095 2013-06-21        2
T095 2013-06-28        1    1
T095 2013-07-08        1
T095 2013-07-12        1
T095 2013-07-19        2
T095 2013-07-25        2    1
T095 2013-08-01        2    1
T095 2013-08-08        2    1
T095 2013-08-15        1    1
T095 2013-08-22        3
T095 2013-08-29        1    1
T095 2013-09-06        1
T095 2013-09-12        1
T095 2013-09-19        1
T095 2013-09-26        2
           Date  Records More
Trap
T096 2007-05-29        2
T096 2007-06-05        3
T096 2007-06-26        1
T096 2007-06-29        1
T096 2007-07-02        3
T096 2007-07-11        3
T096 2007-08-01        6
T096 2007-08-02        6    1
T096 2007-08-07        4    1
T096 2007-08-15        3
T096 2007-08-22        3    1
T096 2007-08-24        4    1
T096 2007-09-05        2
T096 2007-09-12        2    1
T096 2007-09-19        2    1
T096 2007-09-24        3    1
T096 2007-10-04        2
           Date  Records More
Trap
T097 2007-08-01        2
T097 2007-08-02        3
T097 2007-08-07        2    1
T097 2007-08-15        2
T097 2007-08-22        2    1
T097 2007-08-24        2    1
T097 2007-09-05        1
T097 2007-09-12        1
T097 2007-10-04        2
           Date  Records More
Trap
T099 2007-08-01        4
T099 2007-08-02        2
T099 2007-08-07        2    1
T099 2007-08-15        2
T099 2007-08-22        2    1
T099 2007-08-24        2    1
T099 2007-09-05        1
T099 2007-09-19        2
T099 2007-09-24        2    1
T099 2011-07-11        1
T099 2011-07-15        2
T099 2011-07-29        1
T099 2011-08-12        1
T099 2011-08-19        1
T099 2011-08-26        1
T099 2011-09-16        1
T099 2013-06-07        1
T099 2013-06-21        1
T099 2013-06-28        1
T099 2013-07-08        2
T099 2013-07-12        2    1
T099 2013-07-19        2    1
T099 2013-07-25        1    1
T099 2013-08-01        1
T099 2013-08-08        2
T099 2013-08-15        1    1
T099 2013-08-22        1
T099 2013-08-29        1
T099 2013-09-19        2
T099 2013-09-26        1    1
           Date  Records More
Trap
T100 2007-08-01        4
T100 2007-08-02        2
T100 2007-08-07        2    1
T100 2007-08-15        2
T100 2007-08-22        2    1
T100 2007-08-24        2    1
T100 2007-09-05        2
T100 2007-09-12        1    1
T100 2007-09-19        2
T100 2007-09-24        2    1

T100 2007-10-04        2
           Date  Records More
Trap
T102 2007-08-01        5
T102 2007-08-02        3
T102 2007-08-07        3    1
T102 2007-08-15        2
T102 2007-08-22        3    1
T102 2007-08-28        2    1
T102 2007-09-05        2
T102 2007-09-12        2    1
T102 2007-09-19        1    1
T102 2007-09-24        2
T102 2007-10-04        2
T102 2009-05-28        1
T102 2009-06-02        1
T102 2009-06-05        2
T102 2009-06-12        1    1
T102 2009-06-15        1
T102 2009-06-29        1
T102 2009-07-06        1
T102 2009-07-13        3
T102 2009-07-17        3    1
T102 2009-07-27        3
T102 2009-07-31        3    1
T102 2009-08-07        2    1
T102 2009-08-13        2    1
T102 2009-08-25        1
T102 2009-09-14        2
T102 2009-09-17        3    1
T102 2009-09-25        1
T102 2009-10-01        3
T102 2011-07-11        2
T102 2011-07-15        2    1
T102 2011-07-25        3
T102 2011-07-29        1    1
T102 2011-08-05        2
T102 2011-08-12        1    1
T102 2011-08-19        1
T102 2011-09-02        2
T102 2011-09-12        1
T102 2011-09-23        3
T102 2011-09-30        1    1
T102 2013-06-07        1
T102 2013-06-14        2
T102 2013-06-21        2    1
T102 2013-06-28        2    1
T102 2013-07-08        1
T102 2013-07-12        3
T102 2013-07-19        2    1
T102 2013-07-25        1    1
T102 2013-08-01        2
T102 2013-08-08        2    1
T102 2013-08-15        1    1
T102 2013-08-22        2
T102 2013-08-29        1    1
T102 2013-09-06        3
T102 2013-09-12        2    1
T102 2013-09-19        2    1
T102 2013-09-26        3    1
           Date  Records More
Trap
T103 2007-08-01       14
T103 2007-08-02       10
T103 2007-08-08        7    1
T103 2007-08-15       12    1
T103 2007-08-17        1    1
T103 2007-08-22       11    1
T103 2007-08-28       18    1
T103 2007-09-05        2
T103 2007-09-12        1    1
T103 2007-09-19        2
T103 2007-09-24        3    1
T103 2007-10-04        2
           Date  Records More
Trap
T107 2007-07-25        2
T107 2007-08-01        2
T107 2007-08-02        2    1
T107 2007-08-08        2    1
T107 2007-08-15        2    1
T107 2007-08-22        2    1
T107 2007-08-28        2    1
T107 2007-09-05        2
T107 2007-09-12        1    1
T107 2007-09-19        1
T107 2007-09-24        2
T107 2007-10-09        2
           Date  Records More
Trap
T114 2007-07-11        2
T114 2007-07-19        1
T114 2007-07-27        1
T114 2007-08-01        9
T114 2007-08-07        1    1
T114 2007-08-15        4
T114 2007-08-21        3    1
T114 2007-08-24        3    1
T114 2007-09-05        3
T114 2007-09-12        2    1
T114 2007-09-19        1    1
T114 2007-10-04        3
T114 2009-05-28        1
T114 2009-06-02        2
T114 2009-06-05        2    1
T114 2009-06-19        2
T114 2009-06-26        1    1
T114 2009-07-06        1
T114 2009-07-10        3
T114 2009-07-17        3    1
T114 2009-07-24        3    1
T114 2009-07-31        2    1
T114 2009-08-07        1    1
T114 2009-08-13        3
T114 2009-08-25        1
T114 2009-09-03        2
T114 2009-09-14        2
T114 2009-09-17        1    1
T114 2009-09-25        1
T114 2011-06-17        2
T114 2011-06-24        2    1
T114 2011-06-30        5    1
T114 2011-07-11        4
T114 2011-07-15        9    1
T114 2011-07-25        6
T114 2011-07-29        3    1
T114 2011-08-05        3    1
T114 2011-08-12        4    1
T114 2011-08-19        2    1
T114 2011-08-26        2    1
T114 2011-09-12        3
T114 2011-09-16        3    1
T114 2011-09-23        3    1
T114 2013-06-14        1
T114 2013-06-21        2
T114 2013-06-27        2    1
T114 2013-07-08        1
T114 2013-07-12        2
T114 2013-07-19        2    1
T114 2013-07-25        2    1
T114 2013-08-01        3    1
T114 2013-08-08        3    1
T114 2013-08-15        3    1
T114 2013-08-22        3    1
T114 2013-08-29        1    1
T114 2013-09-06        3
T114 2013-09-12        2    1
T114 2013-09-19        1    1
T114 2013-09-26        2
           Date  Records More
Trap
T115 2007-07-18        1
T115 2007-07-25       64
T115 2007-08-01       54    1
T115 2007-08-02        4    1
T115 2007-08-08       34    1
T115 2007-08-15        1    1
T115 2007-08-16       54
T115 2007-08-22       34    1
T115 2007-08-28       51    1
T115 2007-09-05       33
T115 2007-09-06       22    1
T115 2007-09-12        4    1
T115 2007-09-19       30    1
T115 2007-09-24       13    1
T115 2007-09-25        4    1
T115 2007-10-09        5
T115 2009-05-28        3
T115 2009-06-02        3    1
T115 2009-06-05        1    1
T115 2009-06-15        3
T115 2009-06-19        2    1
T115 2009-06-26        3    1
T115 2009-07-06        3
T115 2009-07-13        7    1
T115 2009-07-17        1    1
T115 2009-07-27        4
T115 2009-07-31        3    1
T115 2009-08-07        2    1
T115 2009-08-13        2    1
T115 2009-08-25        1
...         ...      ...  ...
T115 2011-06-24        2    1
T115 2011-06-30        4    1
T115 2011-07-11        3
T115 2011-07-15        9    1
T115 2011-07-25        3
T115 2011-08-05        1
T115 2011-08-12        4
T115 2011-08-19        3    1
T115 2011-08-26        1    1
T115 2011-09-02        3
T115 2011-09-16        2
T115 2011-09-23        2    1
T115 2011-09-30        1    1
T115 2013-06-07        1
T115 2013-06-14        2
T115 2013-06-21        2    1
T115 2013-06-28        3    1
T115 2013-07-08        2
T115 2013-07-12        7    1
T115 2013-07-19        3    1
T115 2013-07-25        3    1
T115 2013-08-01        2    1
T115 2013-08-08        4    1
T115 2013-08-15        1    1
T115 2013-08-22        3
T115 2013-08-29        2    1
T115 2013-09-06        1
T115 2013-09-12        5
T115 2013-09-19        2    1
T115 2013-09-26        2    1

[66 rows x 3 columns]
           Date  Records More
Trap
T128 2007-07-25        6
T128 2007-08-01        5
T128 2007-08-02        2    1
T128 2007-08-08       10    1
T128 2007-08-16       19
T128 2007-08-22        8    1
T128 2007-08-28        9    1
T128 2007-09-06        3
T128 2007-09-12        2    1
T128 2007-09-19        2    1
T128 2007-10-09        2
T128 2009-06-02        1
T128 2009-06-19        1
T128 2009-06-26        2
T128 2009-07-06        3
T128 2009-07-17        2
T128 2009-07-27        1
T128 2009-07-31        1
T128 2009-08-07        2
T128 2009-08-13        2    1
T128 2009-08-25        1
T128 2009-09-14        2
T128 2009-09-17        2    1
T128 2009-09-25        1
T128 2009-10-01        3
T128 2011-06-17        2
T128 2011-06-24        2    1
T128 2011-06-30        2    1
T128 2011-07-11        2
T128 2011-07-15        2    1
T128 2011-07-25        4
T128 2011-07-29        2    1
T128 2011-08-05        4    1
T128 2011-08-12        3    1
T128 2011-08-19        4    1
T128 2011-08-26        2    1
T128 2011-09-02        3    1
T128 2011-09-12        1
T128 2011-09-16        1
T128 2011-09-23        1
T128 2013-06-07        1
T128 2013-06-14        2
T128 2013-06-21        1    1
T128 2013-06-28        1
T128 2013-07-08        1
T128 2013-07-12        2
T128 2013-07-19        2    1
T128 2013-07-25        2    1
T128 2013-08-01        3    1
T128 2013-08-08        3    1
T128 2013-08-15        2    1
T128 2013-08-22        2    1
T128 2013-08-29        3    1
T128 2013-09-06        3
T128 2013-09-12        2    1
T128 2013-09-19        1    1
T128 2013-09-26        2
           Date  Records More
Trap
T129 2007-05-29        2
T129 2007-06-26        2
T129 2007-07-02        2    1
T129 2007-07-18        1
T129 2007-07-27        1
T129 2007-08-01        4
T129 2007-08-07        1    1
T129 2007-08-15        2
T129 2007-09-04        4
T129 2007-09-12        1
T129 2007-09-18        3
T129 2007-09-24        2    1
T129 2007-10-04        4

           Date  Records More
Trap
T135 2007-06-05        3
T135 2007-06-26        3
T135 2007-06-29        1    1
T135 2007-07-02        3    1
T135 2007-07-11        3
T135 2007-08-01        8
T135 2007-08-02        6    1
T135 2007-08-07        2    1
T135 2007-08-15        6
T135 2007-08-22        7    1
T135 2007-08-24        6    1
T135 2007-09-05        2
T135 2007-09-12        4    1
T135 2007-09-19        1    1
T135 2007-09-24        2
T135 2007-10-04        2
T135 2009-05-28        4
T135 2009-06-02        4    1
T135 2009-06-05        3    1
T135 2009-06-12        3    1
T135 2009-06-19        2    1
T135 2009-06-26        2    1
T135 2009-07-06        3
T135 2009-07-10        1    1
T135 2009-07-13       10    1
T135 2009-07-17        5    1
T135 2009-07-27        5
T135 2009-07-31        2    1
T135 2009-08-07        3    1
T135 2009-08-13        2    1
...         ...      ...  ...
T135 2011-06-24        1    1
T135 2011-06-30        3
T135 2011-07-11        3
T135 2011-07-15        1    1
T135 2011-07-25        3
T135 2011-07-29        3    1
T135 2011-08-05        2    1
T135 2011-08-19        3
T135 2011-08-26        2    1
T135 2011-09-02        2    1
T135 2011-09-12        3
T135 2011-09-16        1    1
T135 2011-09-23        1
T135 2013-06-07        2
T135 2013-06-14        2    1
T135 2013-06-21        2    1
T135 2013-06-28        3    1
T135 2013-07-08        1
T135 2013-07-12        2
T135 2013-07-19        2    1
T135 2013-07-25        2    1
T135 2013-08-01        3    1
T135 2013-08-08        3    1
T135 2013-08-15        3    1
T135 2013-08-22        3    1
T135 2013-08-29        1    1
T135 2013-09-06        2
T135 2013-09-12        1    1
T135 2013-09-19        1
T135 2013-09-26        2

[66 rows x 3 columns]
           Date  Records More
Trap
T138 2007-07-18        5
T138 2007-07-19        4
T138 2007-07-25       20    1
T138 2007-08-01       24    1
T138 2007-08-02       26    1
T138 2007-08-08       40    1
T138 2007-08-09        1    1
T138 2007-08-15        2    1
T138 2007-08-16       20    1
T138 2007-08-17       17    1
T138 2007-08-22       26    1
T138 2007-08-28       16    1
T138 2007-09-05        2
T138 2007-09-06       10    1
T138 2007-09-12        6    1
T138 2007-09-19        5    1
T138 2007-09-24        2    1
T138 2007-09-25        3    1
T138 2007-10-09        3
T138 2009-05-28        2
T138 2009-06-19        2
T138 2009-06-29        1
T138 2009-07-06        3
T138 2009-07-13        3    1
T138 2009-07-17        3    1
T138 2009-07-31        2
T138 2009-08-13        2
T138 2009-08-27        1
T138 2009-09-03        2
T138 2009-09-14        2
...         ...      ...  ...
T138 2011-06-17        1
T138 2011-06-24        1
T138 2011-07-11        3
T138 2011-07-15        3    1
T138 2011-07-25        1
T138 2011-07-29        1
T138 2011-08-05        3
T138 2011-08-12        3    1
T138 2011-08-19        1    1
T138 2011-08-26        2
T138 2011-09-02        2    1
T138 2011-09-12        4
T138 2011-09-16        3    1
T138 2011-09-23        1    1
T138 2011-09-30        1
T138 2013-06-07        1
T138 2013-06-14        2
T138 2013-07-08        3
T138 2013-07-12        2    1
T138 2013-07-19        2    1
T138 2013-07-25        1    1
T138 2013-08-01        1
T138 2013-08-08        2
T138 2013-08-15        1    1
T138 2013-08-22        3
T138 2013-08-29        2    1
T138 2013-09-06        1
T138 2013-09-12        1
T138 2013-09-19        1
T138 2013-09-26        2

[63 rows x 3 columns]
           Date  Records More
Trap
T141 2007-06-05        2
T141 2007-06-26        2
T141 2007-06-29        1    1
T141 2007-07-11        1
T141 2007-07-18        1
T141 2007-07-27        2
T141 2007-08-01        3    1
T141 2007-08-07        2    1
T141 2007-08-15        2
T141 2007-08-21        1    1
T141 2007-08-24        1
T141 2007-09-18        1
T141 2007-09-24        1
T141 2007-10-04        2
           Date  Records More
Trap
T142 2007-06-05        2
T142 2007-06-26        1
T142 2007-06-29        1
T142 2007-07-02        2
T142 2007-07-11        2
T142 2007-07-18        1    1
T142 2007-07-27        2
T142 2007-08-01        3    1
T142 2007-08-07        2    1
T142 2007-08-15        2
           Date  Records More
Trap
T143 2007-05-29        1
T143 2007-06-05        2
T143 2007-06-26        2
T143 2007-06-29        1    1
T143 2007-07-11        1
T143 2007-07-18        2
T143 2007-07-27        1
T143 2007-08-01        5
T143 2007-08-07        2    1
T143 2007-08-15        4
T143 2007-08-21        2    1
T143 2007-08-24        2    1
T143 2007-09-04        1
T143 2007-09-18        1
T143 2007-09-24        2
T143 2007-10-04        2
           Date  Records More
Trap
T144 2007-06-29        1
T144 2007-07-18        2
T144 2007-07-27        1
T144 2007-08-01        5
T144 2007-08-07        2    1
T144 2007-08-15        4
T144 2007-08-21        2    1
T144 2007-08-24        2    1
T144 2007-09-04        2
T144 2007-09-18        1
T144 2007-09-24        3
T144 2007-10-04        2
T144 2009-06-05        1
T144 2009-06-12        2
T144 2009-06-19        2    1
T144 2009-06-26        4    1
T144 2009-07-06        2
T144 2009-07-10        2    1
T144 2009-07-17        1    1
T144 2009-07-24        2
T144 2009-08-07        1
T144 2009-08-13        2
T144 2009-08-25        4
T144 2009-08-27        3    1
T144 2009-09-03        2    1
T144 2009-09-14        2
T144 2009-09-17        2    1
T144 2009-09-25        1
T144 2009-10-01        2
T144 2011-06-10        1
T144 2011-06-17        2
T144 2011-06-24        2    1
T144 2011-07-11        1
T144 2011-07-15        2
T144 2011-07-25        2
T144 2011-08-05        2
           Date  Records More
Trap
T145 2007-06-05        1
T145 2007-06-26        1
T145 2007-06-29        1
T145 2007-07-02        1
T145 2007-07-11        2
T145 2007-07-19        1
T145 2007-07-27        2
T145 2007-08-01       10    1
T145 2007-08-07        4    1
T145 2007-08-15        2
T145 2007-08-21        4    1
T145 2007-08-24        4    1
T145 2007-09-18        2
T145 2007-09-19        1    1
T145 2007-09-24        2    1
T145 2007-10-04        1
T145 2009-06-19        1
T145 2009-06-26        2
T145 2009-07-06        1
T145 2009-07-17        1
T145 2009-07-24        1
T145 2009-09-03        2
T145 2009-09-17        1
T145 2011-06-17        1
T145 2011-06-24        2
T145 2011-06-30        1    1
T145 2011-07-11        2
T145 2011-07-15        1    1
T145 2011-07-25        2
T145 2011-07-29        1    1
T145 2011-08-05        2
T145 2011-08-12        1    1
T145 2011-08-19        1
T145 2011-08-26        2
T145 2011-09-01        2    1
T145 2011-09-12        2
T145 2011-09-16        1    1
T145 2011-09-23        1
T145 2011-09-30        1
T145 2013-06-07        1
T145 2013-06-14        2
T145 2013-06-21        1    1
T145 2013-07-08        1
T145 2013-07-19        2
T145 2013-07-25        1    1
T145 2013-08-01        2
T145 2013-08-08        1    1
T145 2013-08-15        2
T145 2013-08-22        1    1
T145 2013-08-29        1
T145 2013-09-06        2
T145 2013-09-12        1    1
T145 2013-09-19        1
T145 2013-09-26        1
           Date  Records More
Trap
T146 2007-06-05        2
T146 2007-06-26        1
T146 2007-06-29        1
T146 2007-07-02        1
T146 2007-07-11        3
T146 2007-07-18        3    1
T146 2007-07-27        1
T146 2007-08-01        5
T146 2007-08-21        3
T146 2007-08-24        2    1
T146 2007-09-04        2
T146 2007-09-12        1
T146 2007-09-18        1
T146 2007-09-19        1
T146 2007-09-24        2
T146 2007-10-04        2

           Date  Records More
Trap
T147 2007-06-05        1
T147 2007-06-26        1
T147 2007-07-18        1
T147 2007-08-01        1
T147 2007-08-07        2
T147 2007-08-15        2
T147 2007-08-21        2    1
T147 2007-08-24        2    1
T147 2007-09-12        1
T147 2007-09-24        1
T147 2007-10-04        2
T147 2009-06-02        2
T147 2009-06-05        2    1
T147 2009-06-12        3    1
T147 2009-06-19        2    1
T147 2009-06-26        2    1
T147 2009-07-06        2
T147 2009-07-10        2    1
T147 2009-07-24        2
T147 2009-07-31        1    1
T147 2009-08-07        2
T147 2009-08-13        2    1
T147 2009-09-14        2
T147 2009-09-17        3    1
T147 2009-09-25        1
T147 2011-06-17        3
T147 2011-06-30        2
T147 2011-07-11        2
T147 2011-07-15        2    1
T147 2011-07-25        3
T147 2011-07-29        3    1
T147 2011-08-05        2    1
T147 2011-08-12        2    1
T147 2011-08-19        2    1
T147 2011-08-26        2    1
T147 2011-09-01        2    1
T147 2011-09-12        2
T147 2011-09-16        1    1
T147 2011-09-23        2
T147 2013-06-14        1
T147 2013-06-21        1
T147 2013-06-27        2
T147 2013-07-08        2
T147 2013-07-12        2    1
T147 2013-07-19        2    1
T147 2013-07-25        2    1
T147 2013-08-01        3    1
T147 2013-08-08        1    1
T147 2013-08-15        1
T147 2013-08-22        1
T147 2013-08-29        2
T147 2013-09-12        3
T147 2013-09-19        1    1
           Date  Records More
Trap
T148 2007-05-29        1
T148 2007-06-26        2
T148 2007-06-29        2    1
T148 2007-07-02        1    1
T148 2007-07-11        3
T148 2007-07-18        2    1
T148 2007-07-27        2
T148 2007-08-01        5    1
T148 2007-08-07        2    1
T148 2007-08-15        2
T148 2007-08-21        2    1
T148 2007-08-24        1    1
T148 2007-09-04        2
T148 2007-09-18        2
T148 2007-09-24        2    1
T148 2009-05-28        2
T148 2009-06-12        2
T148 2009-06-15        1    1
T148 2009-06-19        2    1
T148 2009-06-26        3    1
T148 2009-07-06        3
T148 2009-07-10        3    1
T148 2009-07-17        3    1
T148 2009-07-24        3    1
T148 2009-07-31        2    1
T148 2009-08-07        1    1
T148 2009-08-13        2
T148 2009-08-25        1
T148 2009-09-03        1
T148 2009-09-14        1
T148 2009-09-17        1
T148 2009-09-25        1
T148 2011-06-10        1
T148 2011-06-17        1
T148 2011-06-30        1
T148 2011-07-11        2
T148 2011-07-15        1    1
           Date  Records More
Trap
T149 2007-06-05        1
T149 2007-07-02        2
T149 2007-07-19        1
T149 2007-08-01        1
T149 2007-08-15        2
T149 2007-08-21        1    1
T149 2007-09-04        1
T149 2007-09-18        3
T149 2007-09-19        1    1
T149 2007-10-04        1
           Date  Records More
Trap
T150 2007-06-05        1
T150 2007-06-26        1
T150 2007-06-29        1
T150 2007-07-11        1
T150 2007-07-18        2
T150 2007-08-01        2
T150 2007-08-07        2    1
T150 2007-08-15        1
T150 2007-08-21        2
T150 2007-08-24        1    1
T150 2007-09-04        1
T150 2007-09-12        2
T150 2007-09-18        1    1
T150 2007-09-24        3
T150 2007-10-04        1
           Date  Records More
Trap
T151 2007-06-05        2
T151 2007-06-26        2
T151 2007-06-29        2    1
T151 2007-07-02        2    1
T151 2007-07-11        2
T151 2007-07-18        3    1
T151 2007-07-27        2
T151 2007-08-01        4    1
T151 2007-08-07        2    1
T151 2007-08-15        4
T151 2007-08-21        2    1
T151 2007-08-24        2    1
T151 2007-09-12        1
T151 2007-09-18        2
T151 2007-09-24        2    1
T151 2007-10-04        2
T151 2009-05-28        1
T151 2009-06-02        3
T151 2009-06-05        2    1
T151 2009-06-12        2    1
T151 2009-06-19        2    1
T151 2009-06-26        2    1
T151 2009-07-06        2
T151 2009-07-10        3    1
T151 2009-07-17        1    1
T151 2009-07-24        2
T151 2009-07-31        3    1
T151 2009-08-07        3    1
T151 2009-08-13        1    1
T151 2009-08-27        1
...         ...      ...  ...
T151 2011-06-30        2
T151 2011-07-11        4
T151 2011-07-15        4    1
T151 2011-07-25        4
T151 2011-07-29        5    1
T151 2011-08-05        4    1
T151 2011-08-12        3    1
T151 2011-08-19        2    1
T151 2011-08-26        2    1
T151 2011-09-01        3    1
T151 2011-09-12        4
T151 2011-09-16        2    1
T151 2011-09-23        4    1
T151 2011-09-30        3    1
T151 2013-06-07        1
T151 2013-06-14        2
T151 2013-06-21        1    1
T151 2013-06-27        3
T151 2013-07-08        2
T151 2013-07-12        2    1
T151 2013-07-19        2    1
T151 2013-07-25        2    1
T151 2013-08-01        4    1
T151 2013-08-08        3    1
T151 2013-08-15        2    1
T151 2013-08-22        3    1
T151 2013-08-29        1    1
T151 2013-09-06        2
T151 2013-09-19        3
T151 2013-09-26        1    1

[67 rows x 3 columns]
           Date  Records More
Trap
T152 2007-06-05        1
T152 2007-07-02        1
T152 2007-07-18        1
T152 2007-07-27        1
T152 2007-08-01        2
T152 2007-08-07        2    1
T152 2007-08-15        2
T152 2007-08-21        3    1
T152 2007-08-24        2    1
T152 2007-09-18        3
T152 2007-09-24        1    1
T152 2007-10-04        1
T152 2009-05-28        1
T152 2009-06-02        1
T152 2009-06-05        1
T152 2009-06-12        2
T152 2009-06-26        2
T152 2009-07-06        2
T152 2009-07-10        2    1
T152 2009-07-17        2    1
T152 2009-08-07        3
T152 2009-08-13        2    1
T152 2009-08-27        1
T152 2009-09-17        3
T152 2009-09-25        2
T152 2009-10-01        1    1
T152 2011-06-10        1
T152 2011-06-17        2
T152 2011-06-24        1    1
T152 2011-06-30        2
T152 2011-07-11        1
T152 2011-07-15        2
T152 2011-07-25        3
T152 2011-07-29        1    1
T152 2011-08-12        2
T152 2011-08-19        2    1
T152 2011-08-26        1    1
T152 2011-09-12        1
T152 2011-09-16        2
T152 2011-09-23        1    1
T152 2013-06-07        1
T152 2013-06-14        1
T152 2013-06-21        1
T152 2013-06-27        2
T152 2013-07-08        1
T152 2013-07-12        2
T152 2013-07-19        2    1
T152 2013-07-25        1    1
T152 2013-08-01        2
T152 2013-08-08        1    1
T152 2013-08-15        2
T152 2013-08-22        3    1
T152 2013-08-29        2    1
T152 2013-09-06        2
T152 2013-09-12        1    1
T152 2013-09-19        1
T152 2013-09-26        1
           Date  Records More
Trap
T153 2007-05-29        1
T153 2007-06-05        1
T153 2007-06-29        1
T153 2007-07-18        1
T153 2007-08-01        4
T153 2007-08-07        2    1
T153 2007-08-15        3
T153 2007-08-21        2    1
T153 2007-08-24        2    1
T153 2007-09-04        1
T153 2007-09-12        1
T153 2007-09-18        1
T153 2007-09-24        1
T153 2007-10-04        2
T153 2009-06-02        1
T153 2009-06-05        2
T153 2009-06-12        1    1
T153 2009-06-19        1
T153 2009-06-26        3
T153 2009-07-10        3
T153 2009-07-17        2    1
T153 2009-08-07        2
T153 2009-09-14        2
T153 2009-09-25        1
           Date  Records More
Trap
T154 2007-06-05        1
T154 2007-07-02        1
T154 2007-08-01        3
T154 2007-08-07        3    1
T154 2007-08-15        3
T154 2007-08-21        2    1
T154 2007-08-24        1    1
T154 2007-09-12        1
T154 2007-09-18        2
T154 2007-09-24        2    1

T154 2007-10-04        2
           Date  Records More
Trap
T155 2007-07-11        1
T155 2007-07-27        1
T155 2007-08-01        7
T155 2007-08-07        2    1
T155 2007-08-15        2
T155 2007-08-21        2    1
T155 2007-08-24        3    1
T155 2007-09-05        2
T155 2007-09-12        2    1
T155 2007-09-19        3    1
T155 2007-10-04        2
T155 2009-05-28        1
T155 2009-06-02        1
T155 2009-06-05        2
T155 2009-06-26        1
T155 2009-07-06        1
T155 2009-07-17        2
T155 2009-07-24        1    1
T155 2009-07-31        2
T155 2009-08-07        2    1
T155 2009-08-25        1
T155 2009-09-17        1
T155 2009-09-25        2
T155 2011-06-17        1
T155 2011-06-24        2
T155 2011-06-30        1    1
T155 2011-07-11        1
T155 2011-07-15        1
T155 2011-07-25        1
T155 2011-07-29        1
T155 2011-08-05        1
T155 2011-08-19        2
T155 2011-08-26        1    1
T155 2011-09-01        2
T155 2011-09-12        1
T155 2011-09-23        1
T155 2011-09-30        1
T155 2013-06-07        1
T155 2013-06-14        2
T155 2013-06-21        2    1
T155 2013-06-27        2    1
T155 2013-07-08        1
T155 2013-07-12        2
T155 2013-07-25        2
T155 2013-08-01        3    1
T155 2013-08-08        2    1
T155 2013-08-22        2
T155 2013-08-29        2    1
T155 2013-09-06        1
T155 2013-09-12        1
T155 2013-09-19        1
T155 2013-09-26        1
           Date  Records More
Trap
T156 2007-08-01        5
T156 2007-08-15        2
T156 2007-08-21        2    1
T156 2007-08-24        2    1
T156 2007-09-05        2
T156 2007-09-12        2    1
T156 2007-09-19        3    1
T156 2007-09-24        1    1
T156 2007-10-04        2
           Date  Records More
Trap
T157 2007-08-01        2
T157 2007-08-02        1
T157 2007-08-07        2
T157 2007-08-15        2
T157 2007-08-21        2    1
T157 2007-08-24        1    1
T157 2007-09-05        1
T157 2007-09-19        1
T157 2007-09-24        1
T157 2007-10-04        1
           Date  Records More
Trap
T158 2007-06-05        2
T158 2007-06-26        2
T158 2007-06-29        1    1
T158 2007-07-02        2    1
T158 2007-07-11        6
T158 2007-08-01        5
T158 2007-08-02        8    1
T158 2007-08-07        3    1
T158 2007-08-15        5
T158 2007-08-22        2    1
T158 2007-08-24        2    1
T158 2007-09-05        2
T158 2007-09-12        2    1
T158 2007-09-19        3    1
T158 2007-09-24        2    1
T158 2007-10-04        2
T158 2009-06-02        2
T158 2009-06-05        2    1
T158 2009-06-12        2    1
T158 2009-06-19        2    1
T158 2009-06-26        2    1
T158 2009-07-06        2
T158 2009-07-10        1    1
T158 2009-07-13        3    1
T158 2009-07-17        3    1
T158 2009-07-27        7
T158 2009-07-31        3    1
T158 2009-08-07        2    1
T158 2009-08-13        3    1
T158 2009-09-14        2
T158 2009-09-17        1    1
T158 2009-09-25        1
T158 2009-10-01        2
T158 2011-06-24        1
T158 2011-06-30        1
T158 2011-07-15        2
T158 2011-07-25        2
T158 2011-08-05        2
T158 2011-08-26        1
T158 2011-09-02        1
T158 2011-09-12        1
T158 2011-09-16        1
T158 2011-09-23        2
T158 2013-06-07        1
T158 2013-06-14        2
T158 2013-06-21        2    1
T158 2013-06-28        6    1
T158 2013-07-08        1
T158 2013-07-12        5
T158 2013-07-19        2    1
T158 2013-07-25        2    1
T158 2013-08-01        4    1
T158 2013-08-08        5    1
T158 2013-08-15        2    1
T158 2013-08-22        3    1
T158 2013-08-29        2    1
T158 2013-09-06        2
T158 2013-09-12        2    1
T158 2013-09-19        2    1
T158 2013-09-26        1    1
           Date  Records More
Trap
T159 2007-05-29        1
T159 2007-06-05        1
T159 2007-08-07        4
T159 2007-08-15        4
T159 2007-08-22        3    1
T159 2007-09-24        2
T159 2009-05-28        1
T159 2009-06-02        2
T159 2009-06-05        3    1
T159 2009-06-12        4    1
T159 2009-06-19        4    1
T159 2009-06-26        1    1
T159 2009-07-06        2
T159 2009-07-13        5    1
T159 2009-07-17        4    1
T159 2009-07-27        3
T159 2009-07-31        3    1
T159 2009-08-07        3    1
T159 2009-08-27        1
T159 2009-09-03        3
T159 2009-09-14        1
T159 2009-09-17        2
T159 2009-09-25        2
T159 2011-06-17        1
T159 2011-06-24        1
T159 2011-06-30        2
T159 2011-07-29        2
T159 2011-08-05        2    1
T159 2011-08-12        1    1
T159 2011-08-19        1
T159 2011-08-26        2
T159 2011-09-02        3    1
T159 2011-09-12        1
T159 2011-09-23        2
T159 2013-06-07        1
T159 2013-06-14        2
T159 2013-06-21        1    1
T159 2013-06-28        2
T159 2013-07-08        1
T159 2013-07-12        2
T159 2013-07-19        3    1
T159 2013-07-25        2    1
T159 2013-08-01        3    1
T159 2013-08-08        3    1
T159 2013-08-15        3    1
T159 2013-08-22        2    1
T159 2013-08-29        3    1
T159 2013-09-06        2
T159 2013-09-12        1    1
T159 2013-09-19        1
T159 2013-09-26        2
           Date  Records More
Trap
T160 2007-06-29        1
T160 2007-07-11        2
T160 2007-08-01        4
T160 2007-08-02        3    1
T160 2007-08-07        3    1
T160 2007-08-15        2
T160 2007-08-22        2    1
T160 2007-08-24        2    1
T160 2007-09-05        1
T160 2007-09-12        2
T160 2007-09-19        2    1
T160 2007-09-24        2    1
T160 2007-10-04        2
T160 2009-05-28        1
T160 2009-06-02        3
T160 2009-06-12        2
T160 2009-06-19        2    1
T160 2009-07-06        2
T160 2009-07-13        3    1
T160 2009-07-17        3    1
T160 2009-07-27        3
T160 2009-08-07        2
T160 2009-08-13        2    1
T160 2009-08-25        1
T160 2009-08-27        1
T160 2009-09-17        2
T160 2009-09-25        3
T160 2009-10-01        2    1
T160 2011-06-10        1
T160 2011-06-24        2
T160 2011-06-30        2    1
T160 2011-07-11        3
T160 2011-07-15        2    1
T160 2011-07-25        1
T160 2011-07-29        3
T160 2011-08-05        3    1
T160 2011-08-12        3    1
T160 2011-08-19        2    1
T160 2011-08-26        2    1
T160 2011-09-02        3    1
T160 2011-09-12        2
T160 2011-09-23        1
T160 2011-09-30        1
           Date  Records More
Trap
T161 2007-06-26        2
T161 2007-07-02        2
T161 2007-07-11        2
T161 2007-08-01        5
T161 2007-08-02        4    1
T161 2007-08-07        2    1
T161 2007-08-15        2
T161 2007-08-22        2    1
T161 2007-08-24        1    1
T161 2007-09-05        1
T161 2007-09-19        1
T161 2007-10-04        2
           Date  Records More
Trap
T162 2007-06-05        1
T162 2007-07-11        1
T162 2007-08-01        3
T162 2007-08-02        1    1
T162 2007-08-07        2    1
T162 2007-08-15        2
T162 2007-08-22        2    1
T162 2007-08-24        2    1
T162 2007-09-05        1
T162 2007-09-12        2
T162 2007-09-24        2
T162 2007-10-04        2
           Date  Records More
Trap
T200 2007-07-18        6
T200 2007-07-19        5
T200 2007-08-02        6
T200 2007-08-09        9    1
T200 2007-08-17        6
T200 2007-08-22        4    1
T200 2007-08-28        6    1
T200 2007-09-06        5
T200 2007-09-12        2    1
T200 2007-09-19        2    1
T200 2007-09-25        5    1
T200 2007-10-09        4
T200 2009-05-28        1
T200 2009-06-15        2
T200 2009-06-19        2    1
T200 2009-07-06        1
T200 2009-07-13        4
T200 2009-07-17        1    1
T200 2009-07-27        3
T200 2009-07-31        3    1
T200 2009-08-07        2    1
T200 2009-08-13        3    1
T200 2009-08-25        3
T200 2009-08-27        2    1
T200 2009-09-03        3    1
T200 2009-09-14        3
T200 2009-09-17        3    1
T200 2009-09-25        3
T200 2009-10-01        4    1
T200 2011-06-17        2
T200 2011-06-24        2    1
T200 2011-06-30        1    1
T200 2011-07-11        3
T200 2011-07-15        3    1
T200 2011-07-25        3
T200 2011-07-29        1    1
T200 2011-08-12        3
T200 2011-08-19        1    1
T200 2011-08-26        1
T200 2011-09-12        3
T200 2011-09-16        2    1
T200 2011-09-30        1
           Date  Records More
Trap
T206 2007-07-18        3
T206 2007-07-19        2
T206 2007-08-02        1
T206 2007-08-09        2
T206 2007-08-17        2
T206 2007-08-22        2    1
T206 2007-08-28        2    1
T206 2007-09-06        1
T206 2007-09-12        1
T206 2007-09-19        2
T206 2007-09-25        2    1

T206 2007-10-09        1
           Date  Records More
Trap
T209 2007-07-18        3
T209 2007-07-19        4
T209 2007-08-02        4
T209 2007-08-09        3    1
T209 2007-08-17        3
T209 2007-08-22        2    1
T209 2007-08-28        2    1
T209 2007-09-06        2
T209 2007-09-12        2    1
T209 2007-09-19        2    1
T209 2007-09-25        3    1
T209 2007-10-09        3
T209 2009-05-28        1
T209 2009-06-02        2
T209 2009-06-05        3    1
T209 2009-06-15        3
T209 2009-06-19        2    1
T209 2009-06-29        2
T209 2009-07-06        1    1
T209 2009-07-13        2
T209 2009-07-17        3    1
T209 2009-07-27        3
T209 2009-07-31        3    1
T209 2009-08-07        3    1
T209 2009-08-13        2    1
T209 2009-08-27        2
T209 2009-09-03        3    1
T209 2009-09-14        2
T209 2009-09-17        3    1
T209 2009-09-25        1
T209 2011-07-11        1
T209 2011-07-15        2
T209 2011-07-25        2
T209 2011-07-29        2    1
T209 2011-08-05        2    1
T209 2011-08-12        2    1
T209 2011-08-26        1
T209 2011-09-02        2
T209 2011-09-12        2
T209 2011-09-16        1    1
T209 2011-09-23        1
T209 2013-06-07        2
T209 2013-06-14        2    1
T209 2013-06-21        2    1
T209 2013-06-28        2    1
T209 2013-07-08        2
T209 2013-07-12        2    1
T209 2013-07-19        2    1
T209 2013-07-25        3    1
T209 2013-08-01        3    1
T209 2013-08-08        3    1
T209 2013-08-15        3    1
T209 2013-08-22        2    1
T209 2013-08-29        2    1
T209 2013-09-06        1
T209 2013-09-12        1
T209 2013-09-19        3
T209 2013-09-26        3    1
           Date  Records More
Trap
T212 2007-07-18        5
T212 2007-07-19       12
T212 2007-08-02        9
T212 2007-08-09        4    1
T212 2007-08-17        9
T212 2007-08-22        6    1
T212 2007-08-28        6    1
T212 2007-09-06        2
T212 2007-09-12        2    1
T212 2007-09-19        2    1
T212 2007-09-25        2    1
T212 2007-10-09        2
T212 2009-05-28        2
T212 2009-06-02        1    1
T212 2009-06-05        1
T212 2009-06-15        3
T212 2009-06-19        2    1
T212 2009-06-29        2
T212 2009-07-06        2    1
T212 2009-07-13        2    1
T212 2009-07-17        4    1
T212 2009-07-27        3
T212 2009-07-31        2    1
T212 2009-08-07        3    1
T212 2009-08-13        1    1
T212 2009-08-25        1
T212 2009-08-27        2
T212 2009-09-03        1    1
T212 2009-09-14        2
T212 2009-09-17        2    1
T212 2009-09-25        1
T212 2011-06-10        1
T212 2011-06-17        3
T212 2011-07-11        3
T212 2011-07-15        2    1
T212 2011-07-25        3
T212 2011-08-05        3
T212 2011-08-12        1    1
T212 2011-08-26        2
T212 2011-09-12        2
T212 2011-09-23        2
T212 2011-09-30        1    1
T212 2013-06-07        1
T212 2013-06-14        2
T212 2013-06-21        2    1
T212 2013-06-28        2    1
T212 2013-07-08        2
T212 2013-07-12        6    1
T212 2013-07-19        3    1
T212 2013-07-25        1    1
T212 2013-08-01        2
T212 2013-08-08        2    1
T212 2013-08-22        2
T212 2013-08-29        1    1
T212 2013-09-06        1
T212 2013-09-12        1
T212 2013-09-19        1
T212 2013-09-26        2
           Date  Records More
Trap
T215 2007-07-18        4
T215 2007-07-19        4
T215 2007-08-02        7
T215 2007-08-03        5    1
T215 2007-08-09        4    1
T215 2007-08-17        5
T215 2007-08-22        3    1
T215 2007-08-28        4    1
T215 2007-09-06        3
T215 2007-09-12        2    1
T215 2007-09-19        1    1
T215 2007-09-25        2
T215 2007-10-09        1
           Date  Records More
Trap
T218 2007-06-05        2
T218 2007-06-29        1
T218 2007-07-02        1
T218 2007-07-11        2
T218 2007-07-18        3    1
T218 2007-07-27        1
T218 2007-08-01        5
T218 2007-08-07        2    1
T218 2007-08-15        2
T218 2007-08-21        2    1
T218 2007-08-24        2    1
T218 2007-09-04        1
T218 2007-09-24        2
T218 2007-10-04        1
T218 2009-06-05        2
T218 2009-06-19        2
T218 2009-07-06        2
T218 2009-07-10        2    1
T218 2009-07-17        3    1
T218 2009-07-24        3    1
T218 2009-08-07        2
T218 2009-08-13        2    1
T218 2009-08-25        1
T218 2009-09-14        2
T218 2009-09-17        2    1
T218 2009-09-25        2
T218 2011-06-10        1
T218 2011-06-17        2
T218 2011-06-24        1    1
T218 2011-06-30        1
T218 2011-07-11        2
T218 2011-07-15        2    1
T218 2011-07-25        1
T218 2011-07-29        1
T218 2011-08-05        1
T218 2011-08-19        2
T218 2011-08-26        1    1
T218 2011-09-12        1
T218 2011-09-16        1
T218 2011-09-23        3
T218 2011-09-30        2    1
           Date  Records More
Trap
T219 2007-06-26        1
T219 2007-07-27        2
T219 2007-08-01        2    1
T219 2007-08-07        2    1
T219 2007-08-15        2
T219 2007-08-21        2    1
T219 2007-08-24        1    1
T219 2007-09-04        2
T219 2007-09-12        1
T219 2007-09-18        1
T219 2007-09-24        2
T219 2007-10-04        3
           Date  Records More
Trap
T220 2007-06-05        1
T220 2007-06-26        1
T220 2007-07-18        2
T220 2007-07-27        2
T220 2007-08-01        1    1
T220 2007-08-07        2
T220 2007-08-15        2
T220 2007-08-21        2    1
T220 2007-08-24        2    1
T220 2007-09-04        1
T220 2007-09-12        1
T220 2007-09-24        1
T220 2007-10-04        1
T220 2009-05-28        2
T220 2009-06-02        4    1
T220 2009-06-05        1    1
T220 2009-06-19        2
T220 2009-06-26        2    1
T220 2009-07-06        2
T220 2009-07-10        3    1
T220 2009-07-17        3    1
T220 2009-07-24        3    1
T220 2009-07-31        4    1
T220 2009-08-07        2    1
T220 2009-08-13        2    1
T220 2009-08-25        2
T220 2009-08-27        1    1
T220 2009-09-14        2
T220 2009-09-17        1    1
T220 2009-09-25        3
T220 2011-06-10        1
T220 2011-06-17        1
T220 2011-06-24        2
T220 2011-07-11        1
T220 2011-07-15        2
T220 2011-07-25        1
T220 2011-07-29        1
T220 2011-08-05        3
T220 2011-08-19        3
T220 2011-08-26        1    1
T220 2011-09-01        1
T220 2011-09-12        1
T220 2011-09-23        1
T220 2011-09-30        1
T220 2013-06-14        1
T220 2013-06-27        1
T220 2013-07-08        1
T220 2013-07-12        1
T220 2013-07-19        2
T220 2013-07-25        2    1
T220 2013-08-01        1    1
T220 2013-08-08        2
T220 2013-08-15        1    1
T220 2013-08-22        1
T220 2013-08-29        1
T220 2013-09-06        2
T220 2013-09-12        2    1
T220 2013-09-19        1    1
T220 2013-09-26        1
           Date  Records More
Trap
T221 2007-08-17       11
T221 2007-08-22        2
T221 2007-08-28        2    1
T221 2007-09-06        2
T221 2007-09-12        2    1
T221 2007-09-19        1    1
T221 2007-09-25        2
T221 2007-10-09        2
T221 2009-05-28        2
T221 2009-06-02        1    1
T221 2009-06-29        1
T221 2009-07-13        3
T221 2009-07-17        4    1
T221 2009-07-27        3
T221 2009-07-31        1    1
T221 2009-08-07        2
T221 2009-08-13        1    1
T221 2009-08-25        2
T221 2009-08-27        2    1
T221 2009-09-03        2    1
T221 2009-09-14        1
T221 2009-09-17        1
T221 2009-09-25        2
T221 2011-06-17        2
T221 2011-06-24        1    1
T221 2011-06-30        1
T221 2011-07-11        2
T221 2011-07-15        1    1
T221 2011-07-29        2
T221 2011-08-05        3    1
T221 2011-08-12        1    1
T221 2011-08-19        1
T221 2011-08-26        2
T221 2011-09-16        2
T221 2013-06-14        2
T221 2013-06-21        1    1
T221 2013-06-28        2
T221 2013-07-08        1
T221 2013-07-12        2
T221 2013-07-19        8    1
T221 2013-07-25        5    1
T221 2013-08-01        4    1
T221 2013-08-08        4    1
T221 2013-08-15        1    1
T221 2013-08-22        3
T221 2013-08-29        1    1
T221 2013-09-06        1
T221 2013-09-12        1
T221 2013-09-19        3
T221 2013-09-26        3    1
           Date  Records More
Trap
T222 2009-07-17        3
T222 2009-07-24        3
T222 2009-07-31        2    1
T222 2009-09-14        1
T222 2009-09-17        1
T222 2009-09-25        3
T222 2009-10-01        1    1
T222 2011-06-17        2
T222 2011-06-30        1
T222 2011-07-15        2
T222 2011-07-25        2
T222 2011-07-29        1    1
T222 2011-08-05        3
T222 2011-08-12        2    1
T222 2011-08-19        2    1
T222 2011-08-26        1    1
T222 2011-09-01        3
T222 2011-09-12        1
T222 2011-09-16        1
T222 2011-09-23        2
T222 2011-09-30        2    1
T222 2013-06-14        2
T222 2013-06-27        1
T222 2013-07-08        1
T222 2013-07-12        2
T222 2013-07-19        1    1
T222 2013-07-25        1
T222 2013-08-01        2
T222 2013-08-08        2    1
T222 2013-08-15        1    1
T222 2013-08-22        1
T222 2013-08-29        2
T222 2013-09-06        1
T222 2013-09-12        1
T222 2013-09-19        2

T222 2013-09-26        1    1
           Date  Records More
Trap
T223 2009-07-17        1
T223 2009-07-24        5
T223 2009-07-31        2    1
T223 2009-08-13        2
T223 2009-08-25        3
T223 2009-09-14        3
T223 2009-09-17        3    1
T223 2009-09-25        3
T223 2009-10-01        1    1
T223 2011-06-10        1
T223 2011-06-17        1
T223 2011-07-11        2
T223 2011-07-15        5    1
T223 2011-07-25        7
T223 2011-07-29        3    1
T223 2011-08-05        4    1
T223 2011-08-12        2    1
T223 2011-08-26        1
T223 2011-09-01        3
T223 2011-09-12        2
T223 2011-09-16        2    1
T223 2011-09-23        2    1
T223 2011-09-30        2    1
T223 2013-06-07        1
T223 2013-06-14        2
T223 2013-06-21        2    1
T223 2013-06-27        2    1
T223 2013-07-08        1
T223 2013-07-12        1
T223 2013-07-19        2
T223 2013-07-25        1    1
T223 2013-08-01        2
T223 2013-08-08        1    1
T223 2013-08-15        3
T223 2013-08-22        1    1
T223 2013-08-29        2
T223 2013-09-06        1
T223 2013-09-12        1
T223 2013-09-19        2
T223 2013-09-26        2    1
           Date  Records More
Trap
T224 2009-07-24        1
T224 2009-07-31        1
T224 2009-08-25        1
T224 2009-08-27        1
T224 2009-09-14        1
T224 2009-09-17        2
T224 2009-09-25        1
T224 2011-06-17        2
T224 2011-06-24        1    1
T224 2011-06-30        2
T224 2011-07-11        2
T224 2011-07-15        2    1
T224 2011-07-25        2
T224 2011-07-29        2    1
T224 2011-08-05        1    1
T224 2011-08-12        1
T224 2011-08-19        1
T224 2011-09-12        1
T224 2013-06-07        1
T224 2013-06-14        1
T224 2013-06-21        1
T224 2013-07-08        2
T224 2013-07-12        2    1
T224 2013-07-19        2    1
T224 2013-07-25        2    1
T224 2013-08-01        3    1
T224 2013-08-08        2    1
T224 2013-08-15        3    1
T224 2013-08-22        2    1
T224 2013-08-29        2    1
T224 2013-09-06        2
T224 2013-09-12        2    1
T224 2013-09-19        1    1
T224 2013-09-26        1
           Date  Records More
Trap
T225 2009-07-17        3
T225 2009-07-24        7
T225 2009-07-31        6    1
T225 2009-08-07        5    1
T225 2009-08-13        2    1
T225 2009-08-25        3
T225 2009-08-27        1    1
T225 2009-09-03        2
T225 2009-09-14        4
T225 2009-09-17        4    1
T225 2009-09-25        4
T225 2009-10-01        3    1
T225 2011-06-17        1
T225 2011-06-30        1
T225 2011-07-11        3
T225 2011-07-15        2    1
T225 2011-07-25        3
T225 2011-07-29        3    1
T225 2011-08-05        1    1
T225 2011-08-12        1
T225 2011-08-19        3
T225 2011-08-26        1    1
T225 2011-09-01        2
T225 2011-09-16        2
T225 2011-09-23        1    1
T225 2013-06-07        1
T225 2013-06-14        1
T225 2013-06-21        2
T225 2013-07-08        1
T225 2013-07-12        3
T225 2013-07-19        5    1
T225 2013-07-25        3    1
T225 2013-08-01        3    1
T225 2013-08-08        3    1
T225 2013-08-15        1    1
T225 2013-08-22        3
T225 2013-08-29        2    1
T225 2013-09-06        2
T225 2013-09-12        3    1
T225 2013-09-19        1    1
T225 2013-09-26        1
           Date  Records More
Trap
T226 2009-07-24        2
T226 2009-07-31        2
T226 2009-08-07        3    1
T226 2011-06-17        1
T226 2011-06-24        2
T226 2011-06-30        2    1
T226 2011-07-11        3
T226 2011-07-15        3    1
T226 2011-07-25        3
T226 2011-07-29        4    1
T226 2011-08-05        3    1
T226 2011-08-12        3    1
T226 2011-08-19        3    1
T226 2011-08-26        2    1
T226 2011-09-01        1    1
T226 2011-09-02        2    1
T226 2011-09-12        1
T226 2011-09-16        2
T226 2011-09-23        2    1
T226 2013-06-07        2
T226 2013-06-21        2
T226 2013-06-28        2    1
T226 2013-07-08        2
T226 2013-07-12        2    1
T226 2013-07-19        5    1
T226 2013-07-25        2    1
T226 2013-08-01        3    1
T226 2013-08-08        3    1
T226 2013-08-15        1    1
T226 2013-08-29        1
T226 2013-09-06        3
T226 2013-09-12        2    1
T226 2013-09-19        2    1
T226 2013-09-26        1    1
           Date  Records More
Trap
T227 2009-07-17        1
T227 2009-07-27        3
T227 2009-07-31        3    1
T227 2009-08-07        1    1
T227 2009-09-14        1
T227 2009-09-17        3
T227 2009-09-25        2
T227 2011-06-24        1
T227 2011-06-30        2
T227 2011-07-11        1
T227 2011-07-15        2
T227 2011-07-25        2
T227 2011-08-05        2
T227 2011-08-12        2    1
T227 2011-08-26        1
T227 2011-09-02        1
T227 2011-09-12        1
T227 2011-09-16        2
T227 2011-09-23        2    1
T227 2011-09-30        1    1
T227 2013-06-07        2
T227 2013-06-14        2    1
T227 2013-06-21        3    1
T227 2013-06-28        3    1
T227 2013-07-08        3
T227 2013-07-12        6    1
T227 2013-07-19        3    1
T227 2013-07-25        2    1
T227 2013-08-01        3    1
T227 2013-08-08        3    1
T227 2013-08-15        3    1
T227 2013-08-22        3    1
T227 2013-08-29        1    1
T227 2013-09-06        2
T227 2013-09-12        1    1
T227 2013-09-19        2
T227 2013-09-26        2    1
           Date  Records More
Trap
T228 2009-08-25        2
T228 2009-08-27        2
T228 2009-09-14        2
T228 2009-09-17        2    1
T228 2009-09-25        2
T228 2009-10-01        1    1
T228 2011-07-11        2
T228 2011-07-15        3    1
T228 2011-07-25        2
T228 2011-07-29        1    1
T228 2011-08-05        1
T228 2011-08-26        2
T228 2011-09-16        2
T228 2011-09-23        2    1
T228 2013-06-07        2
T228 2013-06-14        2    1
T228 2013-06-21        2    1
T228 2013-06-27        2    1
T228 2013-07-08        1
T228 2013-07-12        3
T228 2013-07-19        4    1
T228 2013-07-25        1    1
T228 2013-08-01        4
T228 2013-08-08        2    1
T228 2013-08-15        3    1
T228 2013-08-22        3    1
T228 2013-08-29        1    1
T228 2013-09-06        3
T228 2013-09-12        2    1
T228 2013-09-26        1
           Date  Records More
Trap
T229 2009-08-07        3
T229 2009-08-25        1
T229 2009-09-14        1
T229 2009-09-17        1
T229 2009-09-25        1
T229 2009-10-01        1
           Date  Records More
Trap
T230 2009-08-07        1
T230 2009-08-13        2
T230 2009-08-25        1
T230 2009-08-27        1
T230 2009-09-14        1
T230 2009-09-17        2
T230 2009-09-25        1
T230 2009-10-01        1
T230 2011-06-10        1
T230 2011-06-17        2
T230 2011-06-24        1    1
T230 2011-06-30        1
T230 2011-07-11        2
T230 2011-07-15        1    1
T230 2011-07-25        2
T230 2011-07-29        3    1
T230 2011-08-05        1    1
T230 2011-08-12        2
T230 2011-08-19        2    1
T230 2011-08-26        1    1
T230 2011-09-01        1
T230 2011-09-12        2
T230 2011-09-16        1    1
T230 2011-09-23        1
T230 2013-06-07        2
T230 2013-06-14        2    1
T230 2013-06-21        1    1
T230 2013-06-27        2
T230 2013-07-08        1
T230 2013-07-12        2
T230 2013-07-19        2    1
T230 2013-07-25        3    1
T230 2013-08-01        2    1
T230 2013-08-08        3    1
T230 2013-08-15        1    1
T230 2013-08-22        1
T230 2013-08-29        1
T230 2013-09-06        1
T230 2013-09-12        3
T230 2013-09-19        2    1
T230 2013-09-26        2    1
           Date  Records More
Trap
T231 2011-06-17        1
T231 2011-07-11        2
T231 2011-07-15        1    1
T231 2011-07-25        3
T231 2011-08-26        1
T231 2011-09-12        1
T231 2011-09-23        1
T231 2011-09-30        1
T231 2013-06-14        1
T231 2013-06-21        2
T231 2013-06-27        1    1
T231 2013-07-08        1
T231 2013-07-12        4
T231 2013-07-19        2    1
T231 2013-07-25        1    1
T231 2013-08-01        3
T231 2013-08-08        1    1
T231 2013-08-15        2
T231 2013-08-22        3    1
T231 2013-08-29        2    1
T231 2013-09-06        2
T231 2013-09-12        3    1
T231 2013-09-19        2    1
T231 2013-09-26        1    1

           Date  Records More
Trap
T232 2011-06-10        2
T232 2011-06-17        2
T232 2011-06-24        1    1
T232 2011-06-30        1
T232 2011-07-11        2
T232 2011-07-15        2    1
T232 2011-07-29        1
T232 2011-08-05        1
T232 2011-08-12        2
T232 2011-08-19        2    1
T232 2011-08-26        2    1
T232 2011-09-12        1
T232 2011-09-16        2
T232 2011-09-23        1    1
T232 2011-09-30        1
T232 2013-06-14        1
T232 2013-06-21        2
T232 2013-06-27        1    1
T232 2013-07-08        1
T232 2013-07-12        2
T232 2013-07-19        3    1
T232 2013-07-25        2    1
T232 2013-08-01        2    1
T232 2013-08-08        2    1
T232 2013-08-15        2    1
T232 2013-08-22        1    1
T232 2013-08-29        1
T232 2013-09-06        2
T232 2013-09-12        3    1
T232 2013-09-19        1    1
T232 2013-09-26        1
           Date  Records More
Trap
T233 2011-08-12        2
T233 2011-08-19        1
T233 2011-08-26        1
T233 2011-09-01        2
T233 2011-09-12        3
T233 2011-09-16        3    1
T233 2011-09-23        2    1
T233 2011-09-30        2    1
T233 2013-06-07        1
T233 2013-06-14        2
T233 2013-06-21        2    1
T233 2013-06-27        2    1
T233 2013-07-08        1
T233 2013-07-12        1
T233 2013-07-19        2
T233 2013-07-25        2    1
T233 2013-08-01        3    1
T233 2013-08-08        3    1
T233 2013-08-15        2    1
T233 2013-08-22        3    1
T233 2013-08-29        4    1
T233 2013-09-06        2
T233 2013-09-12        2    1
T233 2013-09-19        1    1
T233 2013-09-26        1
           Date  Records More
Trap
T235 2011-06-17        1
T235 2011-06-24        2
T235 2011-06-30        2    1
T235 2011-07-11        1
T235 2011-07-15        3
T235 2011-07-25        3
T235 2011-07-29        2    1
T235 2011-08-05        1    1
T235 2011-08-12        4
T235 2011-08-19        2    1
T235 2011-08-26        3    1
T235 2011-09-01        2    1
T235 2011-09-12        2
T235 2011-09-16        2    1
T235 2011-09-23        1    1
T235 2013-06-07        1
T235 2013-06-21        2
T235 2013-06-28        2    1
T235 2013-07-08        1
T235 2013-07-12        2
T235 2013-07-19        5    1
T235 2013-07-25        1    1
T235 2013-08-01        3
T235 2013-08-08        3    1
T235 2013-08-15        3    1
T235 2013-08-22        2    1
T235 2013-08-29        1    1
T235 2013-09-06        1
T235 2013-09-12        2
T235 2013-09-19        1    1
T235 2013-09-26        1
           Date  Records More
Trap
T236 2011-08-19        2
T236 2011-08-26        1
T236 2011-09-12        2
T236 2011-09-16        1    1
T236 2013-06-07        1
T236 2013-06-14        2
T236 2013-06-21        2    1
T236 2013-07-08        1
T236 2013-07-12        1
T236 2013-07-19        1
T236 2013-07-25        1
T236 2013-08-01        4
T236 2013-08-08        2    1
T236 2013-08-15        3    1
T236 2013-08-22        2    1
T236 2013-08-29        3    1
T236 2013-09-06        2
T236 2013-09-12        1    1
T236 2013-09-19        1
           Date  Records More
Trap
T237 2011-09-01        1
T237 2011-09-12        1
T237 2011-09-16        1
           Date  Records More
Trap
T238 2011-09-12        3
T238 2011-09-16        2
T238 2011-09-23        2    1
           Date  Records More
Trap
T900 2009-05-28        2
T900 2009-06-03       12
T900 2009-06-05        4    1
T900 2009-06-15       15
T900 2009-06-22       39    1
T900 2009-06-29       23    1
T900 2009-07-06       12    1
T900 2009-07-13       14    1
T900 2009-07-17       14    1
T900 2009-07-27       23
T900 2009-07-31       20    1
T900 2009-08-07       13    1
T900 2009-08-13       16    1
T900 2009-08-25       15
T900 2009-08-27        7    1
T900 2009-09-03        7    1
T900 2009-09-14       11
T900 2009-09-17        8    1
T900 2009-09-25       13
T900 2009-10-01        5    1
T900 2011-06-10       22
T900 2011-06-17       14    1
T900 2011-06-24       10    1
T900 2011-06-30       24    1
T900 2011-07-11       17
T900 2011-07-15       13    1
T900 2011-07-25       20
T900 2011-07-29       15    1
T900 2011-08-05       12    1
T900 2011-08-12       17    1
T900 2011-08-19       15    1
T900 2011-08-26        5    1
T900 2011-09-02       16    1
T900 2011-09-12       11
T900 2011-09-16       10    1
T900 2011-09-23        9    1
T900 2011-09-30        9    1
T900 2013-06-07       10
T900 2013-06-14       15    1
T900 2013-06-21       11    1
T900 2013-06-28        9    1
T900 2013-07-08       13
T900 2013-07-12       10    1
T900 2013-07-19       16    1
T900 2013-07-25       20    1
T900 2013-08-01       25    1
T900 2013-08-08       10    1
T900 2013-08-15       17    1
T900 2013-08-22       15    1
T900 2013-08-29       21    1
T900 2013-09-06       18
T900 2013-09-12       15    1
T900 2013-09-19        7    1
T900 2013-09-26        6    1
           Date  Records More
Trap
T903 2009-06-03        2
T903 2009-06-05        1
T903 2009-06-15        1
T903 2009-06-22       11
T903 2009-06-29        1    1
T903 2009-07-13        3
T903 2009-07-17        5    1
T903 2009-07-27        7
T903 2009-07-31        4    1
T903 2009-08-07        4    1
T903 2009-08-13        2    1
T903 2009-08-25        5
T903 2009-08-27        1    1
T903 2009-09-03        2
T903 2009-09-14        3
T903 2009-09-17        2    1
T903 2009-09-25        3
T903 2009-10-01        2    1
T903 2011-06-10        1
T903 2011-06-17        2
T903 2011-06-30        3
T903 2011-07-11        5
T903 2011-07-15        6    1
T903 2011-07-25        6
T903 2011-07-29        5    1
T903 2011-08-05        4    1
T903 2011-08-12        3    1
T903 2011-08-19        2    1
T903 2011-08-26        2    1
T903 2011-09-02        6    1
T903 2011-09-12        6
T903 2011-09-16        6    1
T903 2011-09-23        3    1
T903 2011-09-30        4    1
T903 2013-06-07        2
T903 2013-06-14        1    1
T903 2013-06-21        2
T903 2013-06-28        1    1
T903 2013-07-08        1
T903 2013-07-12        1
T903 2013-07-19        1
T903 2013-07-25        2
T903 2013-08-01        1    1
T903 2013-08-08        1
T903 2013-08-22        1
T903 2013-08-29        1
T903 2013-09-06        1
T903 2013-09-12        1

In [145]:
df2.to_csv('prior_multiple_obs.csv')

In [144]:
df2

           Date Records More
T903 2009-06-03       2
T903 2009-06-05       1
T903 2009-06-15       1
T903 2009-06-22      11
T903 2009-06-29       1    1
T903 2009-07-13       3
T903 2009-07-17       5    1
T903 2009-07-27       7
T903 2009-07-31       4    1
T903 2009-08-07       4    1
T903 2009-08-13       2    1
T903 2009-08-25       5
T903 2009-08-27       1    1
T903 2009-09-03       2
T903 2009-09-14       3
T903 2009-09-17       2    1
T903 2009-09-25       3
T903 2009-10-01       2    1
T903 2011-06-10       1
T903 2011-06-17       2
T903 2011-06-30       3
T903 2011-07-11       5
T903 2011-07-15       6    1
T903 2011-07-25       6
T903 2011-07-29       5    1
T903 2011-08-05       4    1
T903 2011-08-12       3    1
T903 2011-08-19       2    1
T903 2011-08-26       2    1
T903 2011-09-02       6    1
T903 2011-09-12       6
T903 2011-09-16       6    1
T903 2011-09-23       3    1
T903 2011-09-30       4    1
T903 2013-06-07       2
T903 2013-06-14       1    1
T903 2013-06-21       2
T903 2013-06-28       1    1
T903 2013-07-08       1
T903 2013-07-12       1
T903 2013-07-19       1
T903 2013-07-25       2
T903 2013-08-01       1    1
T903 2013-08-08       1
T903 2013-08-22       1
T903 2013-08-29       1
T903 2013-09-06       1
T903 2013-09-12       1